<div class="container">

    <div class="row">
        <h2>คำถามที่พบบ่อย</h2>
        <div class="row">
            <div class="col-md-8">

                <div class="toogle">
                    <section class="toggle active">
                        <label>ต้องการสมัครใช้งานมีค่าใช้จ่ายหรือไม่ ?</label>
                        <p>คุณสามารถสมัคร และ ใช้งานทดลองใช้งานฟรี 15วัน <strong>โดยไม่มีค่าใช้จ่าย และไม่มีความเสี่ยง</strong> <br/>
                        <i class="icon  icon-thumbs-o-up"></i> หากคุณถูกใจและต้องการใช้งานต่อ จะมีค่าใช้จ่าย Package รายเดือนจากตารางด้านบน โดยเริ่มนับจากวันที่ 16 ถึงวันที่ 45 เป็นต้น <br/>
@*                        <i class="icon  icon-thumbs-o-down"></i> หากไม่ต้องการใช้งานต่อ คุณจะไม่เสียอะไรเลย และ ข้อมูลการขายจะถูกลบไปภายใน 30วัน</p>*@
                    </section>

                    <section class="toggle active">
                        <label>ทดลองใช้ <strong> ฟรี 15วัน</strong> ทำงานอย่างไร ?</label>
                        <p>เพียงแค่คุณสมัคร คุณก็จะได้ใช้ฟรี 15วันทันที และการใช้งาน ฟรี 15วันคุณจะได้ใช้งานใน Package 890 ทุกฟังก์ชั่น
                        หลังจากนั้นจะเป็นการใช้งานใน Package ที่คุณได้สมัครไว้ตามตารางข้างบน (สามารถเปลี่ยน Package ได้ทีหลัง)</p>
                    </section>
                
                    <section class="toggle active">
                        <label>สมัครสมาชิกรายปีดีกว่าอย่างไร ?</label>
                        <p>เราแนะนำใช้สมาชิกรายปี เพื่อความสะดวกในการใช้งาน ไม่ต้องกังวลเรื่องระยะเวลา(วันหมดอายุ) และไม่ต้องเสียค่าธรรมเนียมธนาคารหลายๆครั้ง  <br />
                            <strong>สิทธิ์พิเศษ : </strong> สมาชิกรายปีจะได้รับการใช้งานฟรีอีก 1เดือน ตาม Package ที่สมัครไว้ และส่วนลดการซื้ออุปกรณ์เสริม  (Thermal Printer และ ลิ้นชักเก็บเงิน) ในจำนวนเท่ากับ ค่า Package รายเดือน
                            <br/>
                            ตัวอย่าง<br/>
                            Package 390 รายปีได้รับ สิทธิ์พิเศษ/ส่วนลด มูลค่า : 
                                <span class="myFaq"  data-container="body"
                                       data-toggle="popover"
                                      data-trigger="hover"
                                      data-html="true"
                                        data-placement="right"
                                        data-content="-ใช้งานฟรีเพิ่มอีก 1เดือน :  ฿ 390 <br/>-ส่วนลด Thermal Printer : ฿ 390 <br/>-ส่วนลด ลิ้นชักเก็บเงิน : ฿ 390"
                                        data-original-title=""
                                       title="">1,170 บาท</span> 
                            <br/>
                            Package 590 รายปีได้รับ สิทธิ์พิเศษ/ส่วนลด มูลค่า :
                             <span class="myFaq"  data-container="body"
                                   data-toggle="popover"
                                 data-html="true"
                                        data-trigger="hover"
                                        data-placement="right"
                                        data-content="-ใช้งานฟรีเพิ่มอีก 1เดือน :  ฿ 590 <br/>-ส่วนลด Thermal Printer : ฿ 590 <br/>-ส่วนลด ลิ้นชักเก็บเงิน : ฿ 590 "
                                        data-original-title=""
                                    title="">1,770 บาท</span> 
                             <br/>
                            Package 890 รายปีได้รับ สิทธิ์พิเศษ/ส่วนลด มูลค่า  : 
                            <span class="myFaq"  data-container="body"
                                       data-toggle="popover"
                                  data-trigger="hover"
                                  data-html="true"
                                        data-placement="right"
                                        data-content="-ใช้งานฟรีพิ่มอีก 1เดือน :  ฿ 890 <br/>-ส่วนลด Thermal Printer : ฿ 890 <br/>-ส่วนลด ลิ้นชักเก็บเงิน : ฿ 890 "
                                        data-original-title=""
                                    title="">2,670 บาท</span> 
                             <br/>
                        </p>
                    </section>

                     <section class="toggle active">
                        <label>สามารถเปลี่ยน Package ภายหลังได้หรือไม่ ?</label>
                        <p>ได้ คุณสามารถ เปลี่ยนเป็น Package ที่สูงกว่าได้ตลอดเวลาในภายหลัง <br/>
                           <span style="font-style: italic">*กรณีต้องการลด Package สามารถทำได้หลังจากครบการใช้งานของ Package ล่าสุด</span>
                        </p>
                    </section>

                   


                      
                </div>

            </div>

        </div>


    </div>
</div>
