<div class="container">

    <div class="row">
        <h2>คำถามที่พบบ่อย</h2>
        <div class="row">
            <div class="col-md-8">

                <div class="toogle">
                    <section class="toggle active">
                        <label>ต้องการสมัครใช้งานมีค่าใช้จ่ายหรือไม่ ?</label>
                        <p>คุณสามารถสมัคร และ ใช้งานทดลองใช้งานฟรี 15วัน <strong>โดยไม่มีค่าใช้จ่าย และไม่มีความเสี่ยง</strong> <br/>
                        <i class="icon  icon-thumbs-o-up"></i> หากคุณถูกใจและต้องการใช้งานต่อ จะมีค่าใช้จ่าย Package รายเดือนจากตารางด้านบน โดยเริ่มนับจากวันที่ 16 ถึงวันที่ 45 เป็นต้น <br/>
@*                        <i class="icon  icon-thumbs-o-down"></i> หากไม่ต้องการใช้งานต่อ คุณจะไม่เสียอะไรเลย และ ข้อมูลการขายจะถูกลบไปภายใน 30วัน</p>*@
                    </section>

                    <section class="toggle active">
                        <label>ทดลองใช้ <strong> ฟรี 15วัน</strong> ทำงานอย่างไร ?</label>
                        <p>เพียงแค่คุณสมัคร คุณก็จะได้ใช้ฟรี 15วันทันที และการใช้งาน ฟรี 15วันคุณจะได้ใช้งานใน Package 890 ทุกฟังก์ชั่น
                        หลังจากนั้นจะเป็นการใช้งานใน Package ที่คุณได้สมัครไว้ตามตารางข้างบน (สามารถเปลี่ยน Package ได้ทีหลัง)</p>
                    </section>
                
                   

                     <section class="toggle active">
                        <label>สามารถเปลี่ยน Package ภายหลังได้หรือไม่ ?</label>
                        <p>ได้ คุณสามารถ เปลี่ยนเป็น Package ที่สูงกว่าได้ตลอดเวลาในภายหลัง <br/>
                           <span style="font-style: italic">*กรณีต้องการลด Package สามารถทำได้หลังจากครบการใช้งานของ Package ล่าสุด</span>
                        </p>
                    </section>

                   


                      
                </div>

            </div>

        </div>


    </div>
</div>
