 <div>
                <h4 id="general">คำถามที่พบบ่อย</h4>
                <p class="question">ใช้เวลานานเท่าไรหลังจากสมัครแล้ว ถึงพร้อมใช้งาน</p>
                <p class="answer">หลังจากสมัครเสร็จทางร้านเพิ่มรายการอาหารและเครื่องดื่มเข้าระบบก็พร้อมใช้งานทันที</p>

                <p class="question">ทำอย่างไรถึงจะได้ใช้งานฟรี 15 วัน</p>
                <p class="answer">หลังจากสมัครเสร็จทุกคนจะได้ทดลองใช้ฟรี (Free Trial) ในแพ็คเกจที่เลือกเป็นเวลา 15วัน เพื่อทดลองการใช้งาน</p>

                <p class="question">หลังจากครบฟรี 15 วันแล้วจะเป็นอย่างไร</p>
                <p class="answer">
                     หลังจากครบ 15 วันแล้วคุณลูกค้าต้องการใช้งานต่อกรุณาเติมเงืนเข้าในระบบซึ่งมีทั้งแบบ รายเดือน(30วัน) /รายปี(365วัน)
                </p>

                <p class="question">สามารถเปลี่ยนแปลง Package ภายหลังได้หรือไม่</p>
                <p class="answer">คุณสามารถเพิ่มเป็น Package ที่สูงกว่าได้ตลอดเวลา หากต้องการลด Package สามารถทำได้หลังจาก Package นั้นหมดอายุแล้วเท่านั้น</p>

                <p class="question">สมาชิกรายปี ได้รับสิทธิ์พิเศษอย่างไร</p>
     <p class="answer">
         การซื้อรายปีจะได้รับส่วนลด  กรุณาติดต่อเจ้าหน้าที่เพื่อสอบถาม Promotion
                    
     </p>

     

                <p class="question">การ Support ลูกค้าอย่างไร/มีบริการหรือไม่</p>
                <p class="answer">
                    การ support ลูกค้าจะทำผ่านทาง Remote-Online เท่านั้น(ไม่มีค่าใช้จ่าย)    โดยผ่านทางโปรแกรม TeamViewer 11
                </p>

                  <p class="question">มีคู่มือการใช้งานหรือไม่</p>
                <p class="answer">
                    มีคู่มือการใช้งาน  <a  target="_blank" href="http://www.manula.com/manuals/niceloop/pos/">Online</a> ครับซึ่งสามรถ <a href="http://cdn.manula.com/user/6049/6628_7031_en_1448218975.pdf?v=20151202091019">  Downaload PDF </a> แล้วพิมพ์ได้เลย   
                </p>

            </div>