 <div>
                <h4 id="general">คำถามที่พบบ่อย</h4>
                <p class="question">ใช้เวลานานเท่าไรหลังจากสมัครแล้ว ถึงพร้อมใช้งาน</p>
                <p class="answer">คุณสามารถใช้งานได้ทันทีหลังสมัครเสร็จ หรือ พูดง่ายๆใช้เวลาไม่ถึง 3นาทีก็มี POS ของร้านอาหารตัวเองแล้ว</p>

                <p class="question">ทำอย่างไรถึงจะได้ใช้งานฟรี 15 วัน</p>
                <p class="answer">หลังจากสมัครเสร็จทุกคนจะได้ทดลองใช้ฟรี (Free Trial) ในแพ็คเกจ 890 เป็นเวลา 15วัน หลังจากนั้นจะเข้าใช้งานในแพ็คเกจที่คุณได้ทำการสมัครไว้</p>

                <p class="question">หลังจากครบฟรี 15 วันแล้วจะเป็นอย่างไร</p>
                <p class="answer">
                    ระบบจะเปลี่ยนไปเป็น Package ที่คุณได้เลือกไว้สำหรับการใช้งานครั้งต่อไป 
                    <br />
                     <br />
                    <i class="icon  icon-thumbs-o-up" data-original-title="" title=""></i>หากคุณถูกใจและต้องการใช้งานต่อ จะมีค่าใช้จ่าย Package ตามที่ได้เลือกไว้ โดยเริ่มนับจากวันที่ 16 ถึงวันที่ 45 เป็นต้น 
                <br />
                    และหากคุณไม่ได้ทำการซื้อ Package เพิ่มจะไม่สามารถใช้งานได้ต่อ แต่ยังจะสามารถเข้าดูข้อมูลได้อีก30วัน
                </p>

                <p class="question">สามารถเปลี่ยนแปลง Package ภายหลังได้หรือไม่</p>
                <p class="answer">คุณสามารถเพิ่มเป็น Package ที่สูงกว่าได้ตลอดเวลา หากต้องการลด Package สามารถทำได้หลังจาก Package นั้นหมดอายุแล้วเท่านั้น</p>

                <p class="question">สมาชิกรายปี ได้รับสิทธิ์พิเศษอย่างไร</p>
                <p class="answer">
                    การซื้อรายปีจะได้รับส่วนลด  กรุณาติดต่อเจ้าหน้าที่เพื่อสอบถาม Promotion
                </p>


                

            </div>