
            @* Hardware *@
            <div>
            
                <h4 id="hardware">Hardware</h4>
                <p class="question">ต้องการซื้ออุปกรณ์เสริมทำอย่างไร</p>
                <p class="answer">กรุณาติดต่อ Call Center </p>

                <p class="question">มีส่วนลดอุปกรณ์เสริมรึป่าว</p>
                <p class="answer">มี สำหรับสมาชิก<strong>รายปี</strong>ที่ใชบริการ Niceloop.com จะได้รับส่วนลดเท่าแพ็คเกจที่ใช้งานอยู่ต่อ 1 ชิ้น ซึ่งส่วนลดจะใช้ได้กับเฉพาะ Thermal-Printer, ลิ้นชักเก็บเงิน, จอTouch-Screen เท่านั้น</p>

                <p class="question">มีรับประกันอุปกรณ์เสริมรึป่าว</p>
                <p class="answer">อุปกรณ์เสริมทุกชิ้น(ยกเว้นกระดาษความร้อน)รัปประกันเปลี่ยนเครื่องใหม่ภายใน7วัน (นับจากวันที่ของออกจาบริษัท)</p>
            </div>