
            @* Hardware *@
            <div>
            
                <h4 id="hardware">Hardware</h4>
     
                  <p class="question">อุปกรณ์ที่จำเป็นต่อการใช้งาน</p>
                <p class="answer">
                    1. PC/Notebook (Window 7+)<br/>
                    2. Thermal Printer<br/>
                    3. ลิ้นชักเก็บเงิน<br/>
                    4. มือถือ/Tablet [Android] (สำหรับpackage 1390+)

                </p>
                
                

                <p class="question">Printer ใบเสร็จใช้รุ่นไหนได้บ้าง</p>
                <p class="answer">ระบบของเรารองรับ Thermal Printer แบบความร้อนเท่านั้น</p>

                
                <p class="question">ที่ห้องครัวจะต่อ Printer กับอุปกรณ์ไหน</p>
                <p class="answer">
                    สำหรับ package 1390 : printer ==[ต่อLANเข้ากับ]==> Router_Internet<br/>
                     @* สำหรับต่ำกว่า : (ไม่รองรับการส่ง JobOrderไปที่ห้องครัว)*@
                </p>


                <p class="question">มีรับประกัน hardware อย่างไร</p>
                <p class="answer">Hardware รับประกัน 1ปี : ภายใน2สัปดาห์แรกหากเครื่องมีปัญหาจะเปลี่ยนตัวใหม่ หากเกิน2สัปดาห์ขึ้นไปจะเปลี่ยนตัว Spare ให้</p>
                
                
                 <p class="question">ใช้Mac หรือ iPad/iPhone ได้หรือไม่</p>
                <p class="answer">
                    สำหรับเครื่อง Cashier ต้องเป็น Windowเท่านั้น <br/> 
                    สำหรับเครื่องมือถือในการสั่งอาหาร ต้องเป็น Android เท่านั้น<br/> 
                   
                    Mac/iPad/iPhone  สามารถใช้ดูรายงาน Online ได้โดยเข้าไปที่ app.niceloop.com ผ่าน browser Safari
                </p>
                

            </div>