      <div>
                 
          <h4 id="package">Package</h4>
          
            <p class="question">Package 890 - 1390 มีความแตกต่างกันอย่างไร</p>
          <p class="answer">แต่ละ Package แตกต่างกันโดย Feature ที่ใช้งาน และขั้นตอนการสั่งอาหาร<br/>
              โดย Package 1390 รองรับการสั่งอาหารผ่านมือถือ และส่ง/พิมพ์ใบสั่งอาหารออกที่ Printer
          </p>
          
          

          <p class="question">เลือก Package ไม่แน่ใจว่าแบบไหนเหมาะกับร้านอาหารคุณ</p>
          <p class="answer">กรุณาติดต่อเรา 088-460-6656 เรายินดีให้คำแนะนำฟรี</p>
          
          
                          <p class="question">หากร้านมีหลายสาขาต้องทำอย่างไร</p>
          <p class="answer">สำหรับPackage ทีสมัครจะเป็นการใช้งานต่อ 1 สาขาเท่านั้น  หากต้องการใช้งานในสาขาที่2 ต้องทำการสมัครใหม่อีก 1 Package โดยข้อมูลและรายการขายจะแยก User Account จากสาขาแรก 
              <br/> <span style="font-style: italic">หมายเหตุ : คัดลอกรายการเมนูจากสาขาแรก กรุณาติดต่อเจ้าหน้าที่</span>
          </p>

      </div>