      <div>
                 
                <h4 id="package">Package</h4>
                <p class="question">เลือก Package ไม่แน่ใจว่าแบบไหนเหมาะกับร้านอาหารคุณ</p>
                <p class="answer">กรุณาติดต่อเรา 081-8460621 เรายินดีให้คำแนะนำฟรี</p>
          
          
                          <p class="question">หากร้านมีหลายสาขาต้องทำอย่างไร</p>
          <p class="answer">สำหรับPackage ทีสมัครจะเป็นการใช้งานต่อ 1 สาขาเท่านั้น  หากต้องการใช้งานในสาขาที่2 ต้องทำการสมัครใหม่อีก 1 Package โดยแยก User Account จากสาขาแรก 
              <br/> <span style="font-style: italic">หมายเหตุ : หากต้องการใช้งานสาขามากกว่า 5 สาขา กรุณาติดต่อเรา</span>
          </p>

      </div>