      @* Payment *@
            <div>
              
                <h4 id="payment">การจ่ายเงิน</h4>

                <p class="question">การจ่ายบริการผู้ช่วยร้านอาหาร Niceloop.com ทำอย่างไร</p>
                <p class="answer">
                    ทำได้ 3 วิธี
                <br />
                    1. Online โดยใช้บัตร Credit Card จ่ายผ่านระบบ PAYSBUY (บริษัทในเครือของ DTAC)  ซึ่งมีค่าธรรมเนียม Online payment 4%
                    <br />
                   
                    <span style="font-weight: bold; color: blue">2. จ่ายเงินผ่าน 7-11 (Counter Service)</span>
                     <br />
                    3. Offline โดยการโอนเงินเข้าธนาคาร @*หรือ 7-11 เคาร์เตอร์เซอวิส หรือ Tesco Lotus*@
                    <br />
                    ทำการโอนเงินเข้าธนาคาร หลังจากนั้นแจ้งการโอนโดย กรอกข้อมูลในเว็ป หรือโทรแจ้ง Call Center แล้วทาง Niceloop จะใช้เวลาตรวจสอบ1-2วันทำการ
                </p>
                <br />
                @*@Html.Partial("Partial/BankAccount")*@
                  @Html.Partial("Bank/Banks")
            </div>