
            @* Security *@
            <div>
               
                <h4 id="security">คำถามด้านความปลอดภัย</h4>
                <p class="question">ความปลอดภัยทางด้านข้อมูลของลูกค้า ?</p>
                <p class="answer">
                    การส่งข้อมูลผ่านระบบ Cloud ของ Niceloop ทุกครั้งจะมีการเข้ารหัส SSL 128 bits ซึ่งมีมาตราฐานเดียวกันการทำธุรกรรมในอุตสาหกรรมการเงิน<br />
                    ทางบริษัทขอรับรองว่าจะเก็บข้อมูลของลูกค้าเป็นความลับ และไม่เปิดเผยต่อบุคคลภายนอก
                </p>

                <p class="question">ความปลอดภัยทางด้านข้อมูลบัตร Credit Card</p>
                <p class="answer">
                    ทาง Niceloop ใช้ระบบของบริษัทชั้นนำอย่าง PAYSBUY ซึ่งเป็นผุู้นำด้าน Payment Gateway ของประเทศไทยทำให้มั่่นใจในการทำทุกๆธุรกรรมได้อย่างปลอดภัย
                <br />
                    "ระบบความปลอดภัยของ PAYSBUY เราใช้เทคโนโลยีการเข้ารหัสข้อมูลด้วยระบบ Secure Socket Layer (SSL 128 bits) ร่วมกับเทคโนโลยีทันสมัยอื่นๆ ในการปกป้องข้อมูลของผู้ใช้บริการ ซึ่งทำให้ระบบของเรามีระดับความปลอดภัยของข้อมูลสูงเทียบเท่ากับระบบธนาคารทางอินเทอร์เน็ตของธนาคารพาณิชย์ชั้นนำทั่วไป นอกจากนั้น เรายังให้คุณมั่นใจในการใช้บัตรเครดิตได้มากยิ่งขึ้น ด้วย Verified by VISA และ MasterCard SecureCode "
                <br />
                    *ข้อมูลจาก PAYSBUY.com
                </p>
            </div>