
            @* Technical *@
            <div>
               
                <h4 id="technical">การใช้งาน/เทคนิค</h4>

                <p class="question">สามารถใช้ร่วมกับจอ Touch Screen ได้รึป่าว ?</p>
                <p class="answer">ระบบรองรับการใช้งานผ่าน Touch Screen ทุกขนาดหน้าจอ และมากไปกว่านั้นยังสามารถใช้งานได้กับ iPad, Tablets ได้  (เพื่อประสิทธิ์ภาพสูงสุดในการใช้งาน ควรใช้จอ 9.7 นิ้วขึ้นไป เพื่อความสะดวกในการใช้งาน)</p>


                <p class="question">IE (Internet Explorer) และ FireFox ทำไมไม่สามารถ Login ได้ ?</p>
                <p class="answer">
                    คุณสามารถ Login เข้าใช้งาน Niceloop.com ได้เฉพาะ Browser : Google Chrome, Safari เท่านั้น<br />
                    <span style="font-style: italic">*หมายเหตุ : IE และ FireFox ไม่สามารถใช้งานได้เนื่องจาก การแสดงผลทางด้าน Display และเหตุผลทางด้าน Security </span>
                </p>

            </div>