
            @* Technical *@
            <div>
               
                <h4 id="technical">การใช้งาน/เทคนิค</h4>

                <p class="question">สามารถใช้ร่วมกับจอ Touch Screen ได้รึป่าว ?</p>
                <p class="answer">ระบบรองรับการใช้งานผ่าน Touch Screen ได้ครับ</p>


                <p class="question">IE (Internet Explorer) และ FireFox ทำไมไม่สามารถ Login ได้ ?</p>
                <p class="answer">
                    คุณสามารถ Login เข้าใช้งาน Niceloop.com ได้เฉพาะ Browser : Google Chrome, Safari เท่านั้น<br />
                    <span style="font-style: italic">*หมายเหตุ : IE และ FireFox ไม่สามารถใช้งานได้เนื่องจาก การแสดงผลทางด้าน Display และเหตุผลทางด้าน Security </span>
                </p>
                
                
                <p class="question">กรณีอินเตอร์เนทหลุดสามารถใช้งานต่อได้หรือไม่</p>
                <p class="answer">
                    เมื่ออินเตอร์เนทหลุดมือถือจะไม่สามารถสั่งอาหารได้และจะมีแถบแสดงเตือนสีแดงแจ้ง คุณลูกค้ากรุณอย่าออกจากหน้านั้นจนจะมีการเชื่อมต่ออินเตอร์เนทอีกครั้ง<br/>
                    อย่างไรก็ตามเครื่อง Cashier หลักยังสามารถทำงานต่อได้เช่น เก็บเงินลูกค้า/สั่งอาหาร/ โดยข้อมมูลบิลขายจะทำการเก็บไว้ที่เครื่อง และเมื่อมีการเชื่อมต่ออีกครั้งจะทำการSyncข้อมูลอัตโนมัติ
                </p>


            </div>