 
@Html.Action("Breadcrumb", "Home", new { sectionName ="Hardware"})


<div class="container">
     <div class="row">
        <div class="col-md-9">
            <p class="lead">
                สำหรับร้านอาหารที่ต้องการเพิ่มประสิทธิ์ภาพในการทำงาน เพิ่มความรวดเร็ว-ความสะดวกสบาย ลดความผิดพลาด สามารถใช้อุปกรณ์เสริม (Hardware) ได้อย่างไร้รอยต่อกับระบบของ Niceloop.com
            </p>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <a href="#" class="btn btn-lg btn-primary push-top pull-right"> ติดต่อ <i class="icon icon-phone"></i> 081 846 6021</a>
        </div>
    </div>
  
    <hr>
</div>
<br/>

<br/>

<div class="container">
   
  
    @* Thernal Printer 57mm *@
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <img  style="height: 290px; "class="img-responsive" src="~/img/hardware/thermal-printer-57.jpg"  />

        </div>
        <div class="col-md-8 col-sm-8">
            <h2><a href="#">เครื่องพิมพ์ใบเสร็จ 57มม. </a></h2>
            <p>เครื่องพิมพ์ใบเสร็จขนาดกระดาษ 57มม. (ขนาดเท่าใบเสร็จ 7-11)  เหมาะสำหรับร้านขนาดเล็ก พิมพ์ด้วยระบบความร้อน(ไม่ต้องใช้น้ำหมึก) และมีแถบฉีกกระดาษฟันปลา(ฉีกด้วยมือ) ใช้งานง่ายสะดวกและรองรับการใช้งานกับระบบของ Niceloop.com 
               
            </p>
            
            <ul class="list icons list-unstyled">
                <li><i class="icon icon-check"></i> เชื่อมต่อด้วย USB </li>
                <li><i class="icon icon-check"></i> ความเร็วในการพิมพ์ 90มม./วินาที</li>
                <li><i class="icon icon-check"></i> ฉีกกระดาษโดยแถบฟันปลา(ฉีกด้วยมือ)</li>
            </ul>
            <h2><span class="badge">ราคา 3,400 บาท</span></h2>
            <a class="more" href="~/Hardware/Printer57mm">Read more <i class="icon-angle-right"></i></a>
            <a href="http://app.niceloop.com/api/system/download?name=PrinterInterface.exe">Driver</a> | <a href="https://www.dropbox.com/s/ksyucobq5aialio/PrinterInterface.exe"><i class="fa faicon-clipboard"></i> Printer Interface</a>
        </div>
    </div>
    <hr class="tall" />

    @* Thernal Printer 80mm *@
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <img  style="height: 260px; " class="img-responsive" src="~/img/hardware/thermal-printer-80.jpg" height="240"/>

        </div>
        <div class="col-md-8 col-sm-8">
            <h2><a href="#">เครื่องพิมพ์ใบเสร็จ 80มม.</a></h2>
            <p>เครื่องพิมพ์ใบเสร็จขนาดกระดาษ 80มม. (ขนาดเท่าใบเสร็จ Tesco Lotus)  เหมาะสำหรับร้านขนาดใหญ่ ใบเสร็จอ่านง่ายสบายตา พิมพ์ด้วยระบบความร้อน(ไม่ต้องใช้น้ำหมึก) และมีระบบตัดกระดาษอัตโนมัติ ใช้งานง่ายสะดวกและรองรับการใช้งานกับระบบของ Niceloop.com

            <ul class="list icons list-unstyled">
                <li><i class="icon icon-check"></i> เชื่อมต่อด้วย USB </li>
                <li><i class="icon icon-check"></i> ความเร็วในการพิมพ์ 210มม./วินาที</li>
                <li><i class="icon icon-check"></i> มีระบบตัดกระดาษ Auto</li>
            </ul>
            <h2><span class="badge">ราคา 8,400 บาท</span></h2>
            <a class="more" href="blog_item.html">Read more <i class="icon-angle-right"></i></a>
            <a href="http://app.niceloop.com/api/system/download?name=PrinterInterface.exe">Driver</a> | <a href="https://www.dropbox.com/s/ksyucobq5aialio/PrinterInterface.exe">Printer Interface</a>
        </div>
    </div>
    <hr class="tall" />

    @* Cash Drawer *@
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <img  class="img-responsive" src="~/img/hardware/cash-drawer.jpg"/>

        </div>
        <div class="col-md-8 col-sm-8">
            <h2><a href="#">ลิ้นชักเก็บเงิน</a></h2>
            <p>ลิ้นชักเก็บเงินออกแบบด้วยเหล็กอย่างดี  พร้อมระบบการใช้งาน 3 โหมด   คือ 1). Auto : เมื่อมีการสั่งพิมพ์ใบเสร็จลิ้นชักจะเปิดทันทีเพื่อเก็บเงินหรือทอนเงิน 2). Manual : ลิ้นชักจะเปิดเมื่อได้รับคำสั่งเปิดเท่านั้น 3). Open : เปิดตลอดในกรณีที่มีการทำธุรกรรมตลอดเวลา เพื่อความรวดเร็วในการแลกเปลี่ยนเงิน เป็นต้น   มากไปกว่านั้นมีกุญแจล็อกในกรณีพนักงานไม่ได้อยู่ที่ร้าน(พักกลางวันหรือไปเข้าห้องน้ำ) </p>
            @* http://micropos.en.alibaba.com/product/1482145371-219204015/C405_B_metal_black_color_point_of_sale_cash_drawer_with_RJ11_interface.html *@
            <ul class="list icons list-unstyled">
                <li><i class="icon icon-check"></i> ระบบการใช้งาน 3 โหมด: AUTO / MANUAL / OPEN</li>
                <li><i class="icon icon-check"></i> มีกุญแจล็อก</li>
                <li><i class="icon icon-check"></i>  ช่องเก็บแบงค์ <strong>5</strong> ช่อง</li>
                <li><i class="icon icon-check"></i> ช่องเก็บเหรียญ <strong>4</strong> ช่อง</li>
                <li><i class="icon icon-check"></i> เชื่อมต่อกับเครื่องพิมพ์ใบเสร็จด้วยสาย RJ45</li>
                <li><i class="icon icon-check"></i> กุญแจล็อกเพื่อความปลอดภัย</li>
                <li><i class="icon icon-check"></i> กว้างxยาวxสูง (มม.) :  455 X 465 X 145</li>
            </ul>
            <h2><span class="badge">ราคา 3,400 บาท</span></h2>
            <a class="more" href="blog_item.html">Read more <i class="icon-angle-right"></i></a>
        </div>
    </div>
    <hr class="tall" />

    @* Touch Screen 15-17" *@
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <img  style="width: 330px"class="img-responsive" src="~/img/hardware/touch-screen17.jpg"/>

        </div>
        <div class="col-md-8 col-sm-8">
            <h2><a href="#">หน้าจอสัมผัส Touch Screen 15นิ้ว, 17นิ้ว</a></h2>
            <p>เพิ่มความสะดวกในการป้อนการขายให้รวดเร็วยิ่งขึ้นด้วยจอสัมผัส แทนการใช้เมาส์ เหมาะสำหรับร้านที่มีจำนวนลูกค้าปริมาณมากในชั่วโมงเร่งด่วนเพื่อเพิ่มความรวดเร็ว  หรือสามารถใช้กับร้านขนาดกลางเพื่อมเพิ่มความคล่องตัว ไม่ว่าจะเป็นร้านอาหาร ร้านกาแฟ ร้านเบเกอร์รี/เค้ก ที่สำคัญจอรุ่นนี้ใช้ได้กับระบบ Niceloop.com เป็นอย่างดี</p>
            
            @*http://www.aliexpress.com/snapshot/296769466.html*@
            <div class="row">
                <div class="col-md-6">
                    <ul class="list icons list-unstyled">
                        <li><i class="icon icon-check"></i> อัตราส่วนภาพ  4:3</li>
                        <li><i class="icon icon-check"></i> อัตราคมชัด 800:1</li>
                        <li><i class="icon icon-check"></i> ความละเอียดจอ : 1,280 x 1,024/75Hz</li>
                        <li><i class="icon icon-check"></i> ระบบจอสัมผัส</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list icons list-unstyled">
                     
                    </ul>
                </div>
            </div>

            
            <h2><span class="badge">จอ15" : ราคา 8,900 บาท</span> <span style="padding: 0px 10px">|</span> <span class="badge">จอ17" : ราคา 11,000 บาท</span></h2>
            <h2></h2>

            <a class="more" href="blog_item.html">Read more <i class="icon-angle-right"></i></a>
        </div>
    </div>
    <hr class="tall" />

    @* USB Air card *@
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <img  class="img-responsive"  src="~/img/hardware/usb-aircard2.jpg"/>

        </div>
        <div class="col-md-8 col-sm-8">
            <h2><a href="#">USB AirCard</a></h2>
            <p>หากที่ร้านไม่มี Internet ทำอย่างไร?<br/>ง่ายมากด้วย USB Aircard การเข้าถึง Internet จะเป็นเรื่องง่ายด้วย USB Aircard เพียงแค่คุณใช้คู่กับ SIM 3G ของค่ายไหนก็ได้ เช่น AIS, DTAC, TRUEMOVE ก็สามารถเชื่อมต่อ Internet ได้ง่ายดาย</p>
            @* http://www.aliexpress.com/snapshot/295731405.html *@
            <ul class="list icons list-unstyled">
                <li><i class="icon icon-check"></i> USB 2.0 พร้อมใช้งานทันที</li>
                <li><i class="icon icon-check"></i> รองรับ EDGE/GPRS/GSM850/900/1800/1900MHz/HSDPA/UMTS2100MHz.</li>
                <li><i class="icon icon-check"></i> ความเร็วสูงสุด 7 Mbps.</li>
                <li><i class="icon icon-check"></i> รองรับ 3G (AIS, DTAC, TRUEMOVE)</li>
 
            </ul>
            <h2><span class="badge">ราคา 590 บาท</span></h2>
            <a class="more" href="blog_item.html">Read more <i class="icon-angle-right"></i></a>
        </div>
    </div>
    <hr class="tall" />

    @* Thermal Paper 57mm *@
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <img  class="img-responsive" src="~/img/hardware/paper-57mm-dia40.png"/>

        </div>
        <div class="col-md-8 col-sm-8">
            <h2><a href="#">กระดาษความร้อน / กระดาษใบเสร็จ 57มม.</a></h2>
            <h5>ตารางราคา</h5>
            <table class=" table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <td>จำนวน</td>
                        <td colspan="2">เส้นผ่าศูนย์กลาง 30มม. (ยาว 6ม.)</td>
                        <td colspan="2">เส้นผ่าศูนย์กลาง 40มม. (ยาว 12ม.)</td>
                         

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12 ม้วน/กล่อง</td>
                        <td>200 บาท</td>
                        <td>(17 บาทต่อม้วน)</td>
                        <td>270 บาท</td>
                        <td>(23 บาทต่อม้วน)</td>
                    </tr>
                    <tr>
                        <td>60 ม้วน/กล่อง</td>
                        <td>900 บาท</td>
                        <td>(15 บาทต่อม้วน)</td>
                        <td>1200 บาท</td>
                        <td>(20 บาทต่อม้วน)</td>
                    </tr>
                    <tr>
                        <td>120 ม้วน/กล่อง</td>
                        <td>1680 บาท</td>
                        <td>(14 บาทต่อม้วน)</td>
                        <td>2160 บาท</td>
                        <td>(18 บาทต่อม้วน)</td>
                    </tr>
        
                     
                </tbody>
            </table>

        </div>
    </div>
    <hr class="tall" />

    @* Thermal paper 80mm *@
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <img  class="img-responsive" src="~/img/hardware/paper-80mm-dia60.png"/>

        </div>
        <div class="col-md-8 col-sm-8">
            <h2><a href="#">กระดาษความร้อน / กระดาษใบเสร็จ 80มม.</a></h2>
            <h5>ตารางราคา</h5>
            <table class=" table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <td>จำนวน</td>
                        <td colspan="2">เส้นผ่าศูนย์กลาง 60มม. (ยาว 27ม.)</td>
                         
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12 ม้วน/กล่อง</td>
                        <td>576 บาท</td>
                        <td>(48 บาทต่อม้วน)</td>
                    </tr>
                    <tr>
                        <td>60 ม้วน/กล่อง</td>
                        <td>2700 บาท</td>
                        <td>(45 บาทต่อม้วน)</td>
                    </tr>
                    <tr>
                        <td>90 ม้วน/กล่อง</td>
                        <td>3870 บาท</td>
                        <td>(43 บาทต่อม้วน)</td>
                    </tr>
                  

                    
                </tbody>
            </table>
        </div>
        
        
    </div>
     <hr class="tall" />

</div>

<div class="container">
    <div class="row faq-niceloop">
        <div class="col-md-9">
            @Html.Partial("Faq-Partial/Hardware")
        </div>
         <div class="col-md-3">
         </div>
    </div>
</div>


 @Html.Partial("Faq-Partial/ReadMoreFaq")
 


<style>
    h2 {
        margin: 0 0 20px 0;
    }

    h2 span.badge {
        font-size: 16px;
        font-weight: normal;

    }
    ul.list li {
        margin-bottom: 5px;
    }

    .badge {
 background-color: #861FC0;
 }


</style>

@section scripts
{
    <script>
        $(document).ready(function () {
            
            //set active tab
            var activeTab = 5;
            $('#mainMenu li:eq(' + activeTab + ')').addClass('active');

            //hide link
            $('a.more').hide();


            // set icons
            $('p.question').prepend('<i class="icon icon-question"></i> ');
            $('p.answer').prepend('<i class="icon icon-comment-o"></i> ');

            $('span.myFaq').popover();


        })
    </script>
}


