@*<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8"></div>
    </div>
</div>*@

@Html.Partial("Partial/Breadcrumb")


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img  class="img-responsive" src="~/img/features/screen-with-device/niceloop-com-direct.png"/>
        </div>
        <div class="col-md-8">
            <h3>Thermal Printer 57 mm</h3>
            <h3>฿ 3400.00-</h3>
            <p>The XP5890III series receipt printer offers printing up to 90mm per second for both text and graphics, excellent reliability and easy to use features. It is used very widely in shopping malls, supper markets, retail, hotels, restaurants, and etc.
                

            </p>
            
            <div class="tabs">
									<ul class="nav nav-tabs">
										<li class=""><a href="#popularPosts" data-toggle="tab"><i class="icon icon-star"></i> Features</a></li>
										<li class="active"><a href="#recentPosts" data-toggle="tab">Specification</a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane" id="popularPosts">
											 
                                            <h4>Product Features</h4>
                                            <ul>
                                                <li>Fast printing up to 90mm/sec for both text & graphics</li>
                                                <li>Support store logo download and print (bmp file)</li>
                                                <li>Support bar code print</li>
                                                <li>Support store logo download and print (bmp file)</li>
                                                <li>Support bar code print</li>
                                                <li>Drop-in paper loading</li>
                                                <li>Compatible with Epson ESC/POS</li>
                                                <li></li>
                                            </ul>

> 
> 
> 
> Support 32bit/64bit Windows
> Support Linux
> Handles max. 5760 thermal roll
										 
										</div>
										<div class="tab-pane active" id="recentPosts">
											 
										</div>
									</div>
								</div>
        </div>
    </div>
</div>