@{
    ViewBag.Title = "Features";
}
@* TODO : Stock pic & expense pic *@


<section class="page-top custom-product">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>บริหารร้านอาหาร .... <strong style="font-size: 1.3em">ง่ายมาก</strong></h1>
                <p class="lead" style="margin-top: 30px">ยอดขาย ค่าใช้จ่าย สต็อกสินค้า อาหารขายดี <br/>เพียงแค่คลิก.. ก็รู้ทันที</p>
            
                <a href="http://app.niceloop.com/Account/Register" class="btn btn-default btn-lg push-bottom">ทดลอง<strong>ฟรี</strong>วันนี้</a> <span class="arrow hl" style="top: 10px;"></span>
            </div>
            <div class="col-md-5">
                <img class="pull-right responsive hidden-xs" alt="" 
                    style="top: 0px;
                            position: relative;
                            height: 270px;" src="~/img/features/screen-with-device/dashboard-macbook-direct.png">
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row push-top">
        <div class="col-md-8">
            <h2>ใช้ <strong>Niceloop.com</strong></h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="icon icon-cloud"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">ไม่ต้องลงโปรแกรม</h4>
                            <p class="tall">แค่ Login ก็พร้อมใช้งานทันที</p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="icon icon-rocket"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">ทุกที่ ทุกเวลา</h4>
                            <p class="tall">อยุ่ที่ไหนในโลกก็ดูข้อมูลได้</p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                           <i class="icon  icon-lightbulb-o"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">รู้ทุกการขาย</h4>
                            <p class="tall">รู้บิลไหนเท่าไร ขายอะไรบ้าง เพียงคลิกเท่านั้น</p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="icon icon-heart"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">ใช้งานง่าย</h4>
                            <p class="tall">เรียนรู้เองได้ภายใน 5 นาที</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="icon icon-dollar"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">ราคาถูก</h4>
                            <p class="tall">ผู้ช่วยร้านอาหารส่วนตัว ถูกและดีที่สุด ที่นี่ที่เดียว</p>
                        </div>
                       
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="icon icon-lock"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">ข้อมูลไม่หาย</h4>
                            <p class="tall">ข้อมูลอยู่บน Cloud และติดตัวคุณไปทุกที่</p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="icon icon-magic"></i>
                        </div>
                         <div class="feature-box-info">
                            <h4 class="shorter">ต่อได้ทุกอุปกรณ์</h4>
                            <p class="tall">iPhone, iPad, Android หรือ Tablets...</p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="icon icon-refresh"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">Version ล่าสุดเสมอ</h4>
                            <p class="tall">คุณจะได้รับความสามารถ/ฟังก์ชั่นใหม่ตลอดเวลา</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>มากไปกว่านั้น ...</h2>

            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <i class="icon icon-envelope-o"></i>
                              ยอดขายตรงถึงมือคุณ
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="panel-body">
                        Email / SMS ยอดการขายทุกวันจะถูกส่งตรงถึงมือคุณทันทีที่ปิดร้าน
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <i class="icon icon-hdd-o"></i>
                                รองรับอุปกรณ์เสริม
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="panel-body">
รองรับเครื่องพิมพ์ใบเสร็จ (Thermal Printer) เพื่อเพิ่มความเป็นมืออาชีพของร้านคุณ รวมถึงรองรับ จอ Touch-Screen                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <i class="icon icon-laptop"></i>
                                ไม่ต้องมีพนักงานดูแล IT 
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                        <div class="panel-body">
เราจัดการ/ดูแลระบบคอมพิวเตอร์บน Cloud ให้คุณเอง  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<hr class="tall" />

@Html.Partial("Partial/List-Features")


<hr class="tall" />

@Html.Partial("Partial/ScreenShot")

<section class="call-to-action featured footer">
				<div class="container">
					<div class="row">
                        <div class="center">
                            <h2>
                                <i  style="font-size: 20px;
                                                                                   position: relative;
                                                                                   color:#666;
                                top: -20px;"class="icon icon-quote-left"></i> 
                                10 ปากว่าไม่เท่าตาเห็น,  10 ตาเห็นไม่เท่าได้ <strong>สัมผัส</strong> 
                                <i class="icon icon-quote-right" style="font-size: 20px;color:#666;position: relative;top: -20px;"></i>
                            </h2>

                             <h3><a href="http://demo.Niceloop.com/Account/LoginDemo" target="_blank" class="btn btn-lg btn-primary appear-animation bounceIn appear-animation-visible" data-appear-animation="bounceIn">ทดสอบ DEMO Online พร้อมข้อมูลตัวอย่างก่อนการตัดสินใจ ที่นี่</a><span class="arrow hl" data-appear-animation="rotateInDownLeft" style="top: 40px;"></span></h3>
                        </div>
					</div>
				</div>
			</section>

@section scripts
{
    <script src="~/Scripts/jquery.bxslider.min.js"></script>
    
    <!-- Add fancyBox -->
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script>
        
        $(document).ready(function () {
            
            // tab
            var activeTab = 1;
            $('#mainMenu li:eq(' + activeTab + ')').addClass('active');

            $('.bxslider').bxSlider({
                
             
                infiniteLoop: false,
                hideControlOnEnd: true
            });
            
            //screenshots
            $('#screenShot').bxSlider({
                minSlides: 3,
                maxSlides: 3,
                slideWidth: 400,
                slideMargin: 10,
                captions: true
            });

            
            $(".fancybox").fancybox({
                openEffect: 'none',
                closeEffect: 'none'
            });
         
            $(".fancy-thumb").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                helpers: {
                    title: {
                        type: 'inside'
                    },
                    thumbs: {
                        width: 50,
                        height: 50
                    }
                }
            });

        })
      
    </script>
    
    <link href="~/css/jquery.bxslider.css" rel="stylesheet" />
}

 