

<section class="page-top">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="~/Home">Home</a></li>
									<li class="active">@ViewBag.SectionName</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h2>@ViewBag.SectionName</h2>
							</div>
						</div>
					</div>
				</section>