
				<div class="container">
					<div class="row">
                        @*<div class="col-md-7">
                            <h4>About Us</h4>
                            <p>เราเชื่อว่าร้านอาหารขนาดเล็กที่บริหารงานด้วยระบบคอมพิวเตอร์จะสามารถจัดการร้านได้ดีกว่า รวดเร็วกว่า และทำกำไรได้มากกว่า
                                <br/>Niceloop.com ช่วยให้ร้านอาหารของคุณประหยัดเงินในการใช้ระบบคอมพิวเตอร์ และให้คุณรู้ทุกความเคลื่อนไหวในร้านแบบ Real-Time 

                                 ไม่ว่าจะเป็น ยอดขาย |  ค่าใช้จ่าย |  สต็อกสินค้า |  สินค้าขายดี |  และฟังก์ชั่นอื่นๆอีกมากมาย 
                                ซึ่งช่วยให้บริหารจัดการร้าน<strong>ง่ายมาก</strong> ทั้งหมดนี้เริ่มต้นเพียง 390บาท/เดือน

                            </p>
                             <p>   <a href="~/Home/About" class="btn-flat btn-xs">อ่านต่อ <i class="icon icon-arrow-right"></i></a></p>
                            <hr class="light">

                        </div>*@
                        
                        <div class="col-md-7">
                            <h4>บริษัท ไนซ์ลูป จำกัด</h4>
                            
                            

                            <p>ที่อยุ่ : 106 ม.7 ถ.ถนนราษฎร์บำรุง บางคูวัด ปทุมธานี 12000</p> 

                           <p>เลขที่บริษัท/เลขผู้เสียภาษี : 0135557000061</p>

                             <hr class="light">

                        </div>

                        

                        <div class="col-md-2">
                            <h4>Follow Us</h4>
                            <div class="social-icons">
                                <ul class="social-icons">
                                    <li class="facebook"><a href="http://www.facebook.com/niceloop" target="_blank" data-placement="bottom" rel="tooltip" title="" data-original-title="Facebook">Facebook</a></li>
@*                                    <li class="twitter"><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" rel="tooltip" title="" data-original-title="Twitter">Twitter</a></li>*@
                                    @*									<li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" rel="tooltip" title="" data-original-title="Linkedin">Linkedin</a></li>*@
                                </ul>
                            </div>
                           
						</div>
                        <div class="col-md-3 ">
							<h4 class="short">Call Us</h4>
							<span class="phone"><i class="icon icon-phone"></i> 088-460-6656</span>
						@*	<p class="short">International: (333) 456-6670</p>
							<p class="short">Fax: (222) 531-8999</p>*@
							<ul class="list icons list-unstyled">
								<li><i class="icon icon-envelope"></i> <a href="mailto:info@niceloop.com">info@niceloop.com</a></li>
							</ul>
							 
                          
							 
                        </div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
							     <img alt="Porto Website Template" style="height: 55px;
                                                                            top: 0px;
                                                                            position: relative;
                                                                            float: left;" class="img-responsive" src="http://www.pinklao-car.com/upload/images/Image/logo/dbd.jpg">
                                	 <img alt="Porto Website Template" style="height: 55px;
                                                                            top: 0px;
                                                                            position: relative;
                                                                            float: left;" class="img-responsive" src="http://blog.equinix.com/wp-content/uploads/2013/10/amazon-aws-logo.jpg">
                           
							</div>
                            <div class="col-md-4 ">
                                <p style="margin-top: 20px;text-align: right">All Rights Reserved. © Copyright 2014 by Niceloop.com</p>
                            </div>
                            <div class="col-md-4  ">
                                <nav id="sub-menu" style="margin-top: 20px">
									<ul>
										<li><a href="~/Home/TermConditions">เงื่อนไขการใช้งาน</a></li>
										<li><a href="~/Home/Contact">ติดต่อเรา</a></li>
								@*		<li><a href="~/Home/About">เกี่ยวกับเรา</a></li>*@
									</ul>
								</nav>
                            </div>
							
						</div>
					</div>
				</div>
			