<div class="container">

					<div class="row">
                        <div class="col-md-12">
                            
                            
                            <h2 class="short word-rotator-title text-center"> 
                                เราช่วยคุณได้อย่างไร
                            </h2>

                            @*<p class="featured lead text-center">
                                เราช่วยคุณได้อย่างไร
                            </p>*@


                            <div class="row">
                                <div class="col-md-4">
                                    <div class="feature-box secundary">
                                        <div class="feature-box-icon">
                                            <i class="icon icon-dollar"></i>
                                        </div>
                                        @*<div class="feature-box-info">
                                            <h4 class="shorter">ใช้งานง่าย</h4>
                                            <p class="tall">หน้าจอถูกออกแบบมาให้ใช้งานง่าย พร้อมคู่มือการใช้งาน คนไม่รู้เรื่องคอมก็สามารถใช้งานได้</p>
                                        </div>*@
                                        
@*                                        <div class="feature-box-info">
                                            <h4 class="shorter">รู้ค่าใช้จ่าย</h4>
                                            <p class="tall">เก็บบันทึกค่าใช้จ่ายทั้งเดือนแยกตามหมวดหมู่ ทำให้ทราบถึงกำไรของเดือนนั้น</p>
                                        </div>*@
                                        <div class="feature-box-info">
                                            <h4 class="shorter">รู้ยอดขาย/ค่าใช้จ่าย</h4>
                                            <p class="tall">ดูข้อมูลยอดขายและค่าใช้จ่ายตั้งแต่วันแรกของการใช้งาน จนถึงปัจจุบัน</p>
                                        </div>
                                    </div>
                                    

                                    <div class="feature-box secundary">
                                        <div class="feature-box-icon">
                                            <i class="icon icon-truck"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="shorter">บริหาร Stock ง่ายขึ้น</h4>
                                            <p class="tall">ระบบจะรายงานสต็อกเมื่อตำกว่า Minimum หรือเมื่อสินค้าหมดทางอีเมลทุกวัน</p>
                                        </div>
                                    </div>


                                    <div class="feature-box secundary">
                                        <div class="feature-box-icon">
                                            <i class="icon icon-lock"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="shorter">ป้องกันทุจริต</h4>
                                            <p class="tall">สามารถเก็บข้อมูลการ Void และกำหนดสิทธิ์การ Void ได้</p>
                                        </div>

                                       
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="feature-box secundary">
                                        <div class="feature-box-icon">
                                           
                                             <i class="icon icon-coffee"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="shorter">ประหยัดเวลาปิดร้าน</h4>
                                            <p class="tall">สรุปยอดขายหลังปิดร้านเพียงแค่ 1วินาที! ก็รู้ยอดขายทั้งหมด</p>
                                        </div>
                                    </div>
                                    <div class="feature-box secundary">
                                        <div class="feature-box-icon">
                                            <i class="icon icon-mobile-phone"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="shorter">สั่งอาหารรวดเร็ว</h4>
                                            <p class="tall">เพิ่มความรวดเร็วด้วยการสั่งอาหารผ่านมือถือและส่ง Order ตรงไปที่ครัว</p>
                                        </div>
                                    </div>

                                    <div class="feature-box secundary">
                                        <div class="feature-box-icon">
                                            <i class="icon icon-magic"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="shorter">ลดข้อผิดพลาด</h4>
                                            <p class="tall">ไม่ต้องจดลงสมุดหรือกระดาษ ทำให้การคิดเงิน รวดเร็ว ลดการผิดพลาด และมีความเป็นมืออาชีพในสายตาลูกค้า</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                  
                                    <div class="feature-box secundary">
                                        <div class="feature-box-icon">
                                            <i class="icon icon-desktop"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            @*<h4 class="shorter">ไม่ต้องลงโปรแกรม</h4>*@
                                            <h4 class="shorter">พร้อมใช้งานทันที</h4>
                                            <p class="tall">Login แล้วพร้อมใช้งานทันทีไม่ต้องเสียเวลาติดตั้งโปรแกรม ข้อมูลอยู่ครบถ้วน</p>
                                        </div>

                                       
                                    </div>
                                    
                                    <div class="feature-box secundary">
                                        <div class="feature-box-icon">
                                            <i class="icon icon-globe"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="shorter">ดูยอดขายผ่านมือถือ</h4>
                                            <p class="tall">คุณสามารถเข้าดูข้อมูลการขายผ่าน มือถือ / Tablets ได้ตลอดเวลา</p>
                                        </div>
                                    </div>

                                    <div class="feature-box secundary">
                                        <div class="feature-box-icon">
                                            <i class="icon icon-bar-chart-o"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="shorter">Email /SMS ยอดขายทุกวัน, ทุกเดือน</h4>
                                            <p class="tall">รายงานยอดขายจะถูกส่งไปให้คุณทุกวันหลังปิดร้าน ทำให้รู้ยอดขายของวันนั้นทันที รวมถึงทุกสิ้นเดือนจะได้รับรายงานอัตโนมัติ </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>

				</div>