<div class="container">

					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-4">
                                    <div class="feature-box secundary">
                                        <div class="feature-box-icon">
                                            <i class="icon icon-coffee"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="shorter">ใช้งานง่าย</h4>
                                            <p class="tall">หน้าจอ User Interface ถูกออกแบบมาให้ใช้งานง่าย เรียนรู้ได้ภายใน 5 นาที และสามารถใช้งานได้อย่างรวดเร็ว คนไม่รู้เรื่องคอมพิวเตอร์ก็สามารถใช้งานได้</p>
                                        </div>
                                    </div>
                                    <div class="feature-box secundary">
                                        <div class="feature-box-icon">
                                            <i class="icon icon-truck"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="shorter">บริหาร Stock ง่ายขึ้น</h4>
                                            <p class="tall">เมื่อคุณทราบข้อมูลการขายที่ผ่านมา ทำให้คุณสามารถวิเคาระห์การสั่งสินค้ามาสต็อกได้ถูกต้อง ลดต้นทุนและการสูญเสียของอาหาร</p>
                                        </div>
                                    </div>

									<div class="feature-box secundary">
										<div class="feature-box-icon">
											<i class="icon icon-laptop"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">ไม่ต้องลงโปรแกรม</h4>
											<p class="tall">ระบบ Niceloop.com ทำงานบน Cloud Computing ซึ่งเพียงแค่ Login ก็พร้อมใช้งานทันทีทุกเครื่องไม่ต้องเสียเวลาติดตั้งโปรแกรม</p>
										</div>
									</div>
								</div>
								<div class="col-md-4">
                                    <div class="feature-box secundary">
                                        <div class="feature-box-icon">
                                            <i class="icon icon-dollar"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="shorter">ไม่ต้องจ่ายแพง</h4>
                                            <p class="tall">เริ่มต้นเพียง ฿ 390/เดือน คุณก็สามารถใช้งานโปรแกรมที่ดีที่สุดได้ และไม่จำเป็นต้องซื้อ Hardware หรือ Touch-Screen ที่มีราคาแพง</p>
                                        </div>
                                    </div>
                                     <div class="feature-box secundary">
                                        <div class="feature-box-icon">
                                            <i class="icon icon-tag"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="shorter">จ่ายเท่าที่ใช้งาน</h4>
                                            <p class="tall">การให้บริการรูปแบบรายเดือน ทำให้คุณจ่ายเฉพาะช่วงเวลาที่ใช้งาน หากเดือนไหนปิดปรับปรุงร้านก็สามารถยกเลิกการใช้งานได้ (เดือนนั้นไม่เสียเงิน)</p>
                                        </div>
                                    </div>

									<div class="feature-box secundary">
										<div class="feature-box-icon">
											<i class="icon icon-magic"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">เพิ่มความเป็นมืออาชีพ</h4>
											<p class="tall">การเก็บข้อมูลลงคอมพิวเตอร์แทนการจดลงสมุดหรือกระดาษ ทำให้การคิดเงิน รวดเร็ว ลดการผิดพลาด ลูกค้าพอใจและมีความเป็นมืออาชีพในสายตาลูกค้า</p>
										</div>
									</div>
								</div>
								<div class="col-md-4">
                                    <div class="feature-box secundary">
                                        <div class="feature-box-icon">
                                            <i class="icon icon-globe"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="shorter">ใช้ได้ทุกที่ ทุกเวลา</h4>
                                            <p class="tall">คุณสามารถไปเที่ยวต่างจังหวัดกับครอบครัว และสามารถเข้าดูข้อมูลการขายผ่าน มือถือ / Tablets ได้ตลอดเวลาเพียงเชื่อมต่อ Internet / 3G </p>
                                        </div>
                                    </div>
                                     <div class="feature-box secundary">
                                        <div class="feature-box-icon">
                                            <i class="icon icon-desktop"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="shorter">ใช้ Computer ที่มีอยู่แล้วได้</h4>
                                            <p class="tall">คุณสามารถใช้งานได้กับ เครือง PC / Notebook ที่มีอยุ่แล้วได้ ทำให้คุณประหยัดเงินได้มากกว่า 50000 บาทสำหรับลงทุนเริ่มต้นใช้ระบบคอมพิวเตอร์</p>
                                        </div>
                                    </div>
									<div class="feature-box secundary">
										<div class="feature-box-icon">
											<i class="icon icon-bar-chart-o"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">รายงานยอดขายทุกวัน</h4>
											<p class="tall">Email /SMS ยอดขายจะถูกส่งไปให้คุณทุกวันหลังปิดร้าน ทำให้คูณทราบผลการขายของวันนั้นทันที  หรือ เลือกดูรายงานการขายเฉพาะวันที่ต้องการ </p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>