<section class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/parallax-transparent.jpg); margin-bottom: -50px">
    <div class="container">
        <div class="row center">
            <div class="col-md-12">

                <div class="row">
                    <div class="owl-carousel" data-plugin-options='{"items": 1}'>
                        <div>
                            <blockquote>
                                <p><i class="icon icon-quote-left"></i>  เมื่อก่อนจดสรุปการขายลงสมุดทุกวัน ซึ่งเราก็รู้แค่ว่าแต่ละวัน ยอดขายไปเท่าไร ได้แค่นั้นไม่สามารถไปวิเคราะห์ข้อมูลการขายของอาหารเราได้ <br />
                                หลังจากเปลี่ยนมาใช้ <strong>Niceloop.com</strong> วันนี้เราสามารถบอกได้ว่า อาหารชนิดนี้ ขายได้ กี่จาน/กี่บาท/กี่เปอร์เซ็น ไม่ว่าจะวันเวลาไหน หรือแม้แต่ อาหาร10อันดับขายดี...
 

                                <div class="testimonial-author">
                                    @*<div class="img-thumbnail img-thumbnail-small">
                                        <img src="img/clients/client-1.jpg" alt="">
                                    </div>*@
                                     <p><strong>อาท วุฒิพงษ์</strong><span>ผู้ร่วมก่อตั้ง - ร้านนมสด Morrrning</span></p>
                                </div>
                            </blockquote>
                        </div>
                         
                        <div>
                            <blockquote>
                                <p><i class="icon icon-quote-left"></i>ทุกวันนี้สามารถลดเวลาการเช็คบิลได้อย่างมาก แต่ก่อนจดใส่กระดาษต้องมานั่งคิดราคาอีกครั้ง ทำให้คิดเงินช้าลูกค้าก็ไม่พอใจ <br/> <strong>Niceloop.com </strong>ช่วยให้เช็คบิลได้ภายใน 1 คลิกเท่านั้น สะดวกมากครับ</p>
                                <div class="testimonial-author">
                                    @* <div class="img-thumbnail img-thumbnail-small">
                                        <img src="img/clients/client-1.jpg" alt="">
                                    </div>*@
                                        <p><strong>ปอน เมธี</strong><span> เจ้าของร้าน - ร้านเจริญกรุง, บางแสน</span></p>
                                  
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
