<div class="map-section">
    <section class="featured footer map">
        <div class="container">
            <div class="row">
@Html.Partial("Home-Partial/Blogs")
                <div class="col-md-8">
                    <h2>ข้อความจากลูกค้า</h2>
                    <div class="row">
                        <div class="owl-carousel push-bottom" data-plugin-options='{"items": 1, "autoHeight": true}'>
                            <div>
                                <div class="col-md-12">
                                    <blockquote class="testimonial">
                                        <p>เมื่อก่อนจดการสรุปขายลงสมุดทุกวันๆ ซึ่งเรากู้รู้แค่ว่าแต่ละวัน ยอดขายไปเท่าไร ได้แค่นั้นไม่สามรถไปวิเคราะห์ข้อมูลการขายของอาหารเราได้ <br />
                                        หลังจากเปลี่ยนมาใช้ Niceloop.com วันนี้เราสามารถบอกได้ว่า อาหารชนิดนี้ ขายได้กี่จาน/กี่บาท ไม่ว่าจะเวลาไหน หรือ อาหาร10อันดับยอดนิยม</p>
                                    </blockquote>
                                    <div class="testimonial-arrow-down"></div>
                                    <div class="testimonial-author">
                                        <div class="img-thumbnail img-thumbnail-small">
                                            <img src="img/clients/client-1.jpg" alt="">
                                        </div>
                                        <p><strong>John Smith</strong><span>CEO & Founder - Crivos</span></p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-12">
                                    <blockquote class="testimonial">
                                        <p>Niceloop.com ใช้งานง่ายครับ ผมไม่ค่อยเก่งด้านคอมพิวเตอร์ยังสามารถใช้งานได้เลยครับ 
                                            <br/>
                                            เว็ปนี้ดีครับผมหามานานแล้วครับ ราคาถูกมากครับ แนะนำใช้เลยครับ
                                        </p>
                                    </blockquote>
                                    <div class="testimonial-arrow-down"></div>
                                    <div class="testimonial-author">
                                        <div class="img-thumbnail img-thumbnail-small">
                                            <img src="img/clients/client-1.jpg" alt="">
                                        </div>
                                        <p><strong>John Smith</strong><span>CEO & Founder - Crivos</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>