   <ul>
            <li data-transition="fade" data-slotamount="13" data-masterspeed="300" >
                                    
                <style>
                    .header-custom-color {
                        color: black !important;
                    }
                </style>

                @*                                    <img src="img/slides/slide-bg-light.jpg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">*@
                <img src="~/img/header/bg-header-2.jpg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                                    
                @* macbook pro *@
                <div class="tp-caption sfl"
                     data-x="-120"
                     data-y="50"
                     data-speed="500"
                     data-start="1000"
                     data-easing="easeOutBack"><img src="~/img/features/screen-with-device/macpro-side.png" alt="" height="400" width="auto"></div>

                                   
                @* บหิหารง่ายมาก *@
                <div class="tp-caption main-label sfl stb"
                     style="font-size: 48px"
                     data-x="330"
                     data-y="110"
                     data-speed="300"
                     data-start="2000"
                     data-easing="easeOutExpo">บริหารร้านอาหาร</div>
                                    
                <div class="tp-caption main-label sft stl"
                     style="font-size: 80px"
                     data-x="710"
                     data-y="100"
                     data-speed="300"
                     data-start="3000"
                     data-easing="easeOutExpo">ง่ายมาก</div>
                                    
                <div class="tp-caption top-label sft stb header-custom-color"
                     data-x="400"
                     data-y="220"
                     data-speed="500"
                     data-start="4000"
                     data-easing="easeOutExpo">ยอดขาย</div>
                                    
                <div class="tp-caption top-label sft stb header-custom-color"
                     data-x="490"
                     data-y="220"
                     data-speed="500"
                     data-start="4000"
                     data-easing="easeOutExpo">|  ค่าใช้จ่าย</div>
                                    
                <div class="tp-caption top-label sft stb header-custom-color"
                     data-x="600"
                     data-y="220"
                     data-speed="500"
                     data-start="4000"
                     data-easing="easeOutExpo">|  สต็อกสินค้า</div>
                                    
                <div class="tp-caption top-label sft stb header-custom-color"
                     data-x="740"
                     data-y="220"
                     data-speed="500"
                     data-start="4000"
                     data-easing="easeOutExpo">|  อาหารขายดี</div>
                                    
                                      
                                    

                <div class="tp-caption top-label sft stb "
                     style="font-size: 40px"
                     data-x="480"
                     data-y="300"
                     data-speed="300"
                     data-start="5000"
                     data-easing="easeOutExpo">เพียงแค่คลิก... ก็รู้ทันที</div>
                                    
                <div class="tp-caption top-label sft stb"
                     data-x="690"
                     data-y="380"
                     data-speed="300"
                     data-start="6000"
                     data-easing="easeOutExpo">
                    <a href="http://app.niceloop.com/Account/Register" class="btn btn-default btn-lg push-bottom">ทดลอง<strong>ฟรี</strong>วันนี้</a> <span class="arrow hl" style="top: 10px;"></span>
                </div>
            </li>
                                

            <li data-transition="fade" data-slotamount="13" data-masterspeed="300" >

                @*                                    <img src="img/slides/slide-bg-light.jpg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">*@
                <img src="~/img/header/bg-header-7.jpg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                <div class="tp-caption sft stb visible-lg"
                     data-x="72"
                     data-y="70"
                     data-speed="300"
                     data-start="1000"
                     data-easing="easeOutExpo"><img src="img/slides/slide-title-border-light.png" alt=""></div>

                <div class="tp-caption top-label lfl stl"
                     data-x="122"
                     data-y="70"
                     data-speed="300"
                     data-start="500"
                     data-easing="easeOutExpo">กำลังมองหาระบบ POS ?</div>

                <div class="tp-caption sft stb visible-lg"
                     data-x="372"
                     data-y="70"
                     data-speed="300"
                     data-start="1000"
                     data-easing="easeOutExpo"><img src="img/slides/slide-title-border-light.png" alt=""></div>

                <div class="tp-caption main-label sft stb"
                     data-x="-15"
                     data-y="120"
                      
                     data-speed="300"
                     data-start="1500"
                     data-easing="easeOutExpo">Niceloop.com</div>
                                    
                <div class="tp-caption main-label sft stb"
                     data-x="-15"
                     data-y="195"
                    style="font-size: 48px"
                     data-speed="300"
                     data-start="1500"
                     data-easing="easeOutExpo">ผู้ช่วยร้านอาหาร</div>

                <div class="tp-caption bottom-label sft stb"
                     data-x="80"
                     data-y="280"
                     data-speed="500"
                     data-start="3000"
                     data-easing="easeOutExpo"><i class="icon icon-check"></i> ใช้งานง่าย</div>
                                    
                <div class="tp-caption bottom-label sft stb"
                     data-x="80"
                     data-y="310"
                     data-speed="500"
                     data-start="3500"
                     data-easing="easeOutExpo"><i class="icon icon-check"></i> ใช้ได้ทุกที่ ทุกเครื่อง</div>
                                    
                <div class="tp-caption bottom-label sft stb"
                     data-x="80"
                     data-y="340"
                     data-speed="500"
                     data-start="4000"
                     data-easing="easeOutExpo"><i class="icon icon-check"></i> เริ่มต้นเพียง 390 บาท/เดือน</div>
                                    
                                    

                @* iMac *@
                <div class="tp-caption sft"
                     data-x="460"
                     data-y="70"
                     data-speed="500"
                     data-start="5000"
                     data-easing="easeOutBack"><img src="~/img/features/screen-with-device/pos-imac-direct.png" alt="" height="auto" width="450"></div>
                @* macbook *@
                <div class="tp-caption sfr"
                     data-x="700"
                     data-y="190"
                     data-speed="500"
                     data-start="5500"
                     data-easing="easeOutBack"><img src="~/img/features/screen-with-device/report-direct-column-macbook.png" alt=""  height="auto" width="406" ></div>
                @* iPad *@
                <div class="tp-caption sfl"
                     data-x="376"
                     data-y="270"
                     data-speed="500"
                     data-start="5750"
                     data-easing="easeOutBack"><img src="~/img/features/screen-with-device/report-ipad.png" alt=""  height="auto" width="207"></div>
                @* iPhone *@
                <div class="tp-caption sfl"
                     data-x="560"
                     data-y="340"
                     data-speed="500"
                     data-start="6000"
                     data-easing="easeOutBack"><img src="~/img/features/screen-with-device/iphone.png" alt=""  height="auto" width="47"></div>

            </li>
                                
                                

            <li data-transition="fade" data-slotamount="13" data-masterspeed="300" >

                @*                                    <img src="img/slides/slide-bg-light.jpg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">*@
                <img src="~/img/header/bg-header-5.jpg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                                    
                @* iMac *@
                <div class="tp-caption sft"
                     data-x="-100"
                     data-y="50"
                     data-speed="500"
                     data-start="1000"
                     data-easing="easeOutBack"><img src="~/img/features/screen-with-device/new-iMac.png" alt="" height="auto" width="450"></div>

                                   
                @* 1.Better *@
                <div class="tp-caption main-label sfl stb"
                     data-x="310"
                     data-y="110"
                     data-speed="300"
                     data-start="2500"
                     data-easing="easeOutExpo">Better</div>
                                    
                <div class="tp-caption top-label lfr stl"
                     data-x="530"
                     data-y="143"
                     data-speed="300"
                     data-start="4500"
                     data-easing="easeOutExpo">ที่สุดของ POS ร้านอาหารบนระบบ Cloud Computing</div>
                                    
                                   
                                   

                @* 2.Faster *@
                <div class="tp-caption main-label sfl stb"
                     data-x="350"
                     data-y="225"
                     data-speed="300"
                     data-start="3000"
                     data-easing="easeOutExpo">Faster</div>
                                    
                <div class="tp-caption top-label lfr stl"
                     data-x="570"
                     data-y="258"
                     data-speed="300"
                     data-start="4750"
                     data-easing="easeOutExpo">ไม่ต้องลงโปรแกรม พร้อมใช้งานทุกที่</div>
                                    
                @* 3. Cheaper *@
                <div class="tp-caption main-label sfl stb"
                     data-x="390"
                     data-y="340"
                     data-speed="300"
                     data-start="3500"
                     data-easing="easeOutExpo">Cheaper</div>
                <div class="tp-caption top-label lfr stl"
                     data-x="680"
                     data-y="373"
                     data-speed="300"
                     data-start="5000"
                     data-easing="easeOutExpo">เริ่มต้นเพียง 390 บาท/เดือน</div>
                                
                                   
            </li>
                                
                                
        </ul>