 <table class="table table-bordered table-striped " style="width: 80%;margin-left: auto;
margin-right: auto;">
                <thead>
                    <tr>
                        <td></td>
                        <td>ชื่อบัญชี</td>
                        <td>สาขา</td>
                        <td>เลขที่บัญชี</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ธ.กรุงเทพ</td>
                        <td>บริษัท ไนซ์ลูป จำกัด </td>
                       <td>ปทุมธานี</td>
                        <td>178-4-64863-4</td>
                    </tr>
                   
                    <tr>
                        <td>ธ.ไทยพาณิชย์</td>
                        <td>บริษัท ไนซ์ลูป จำกัด </td>
                        <td>ปทุมธานี</td>
                        <td>301-4-21040-9</td>
                    </tr>
                     <tr>
                        <td>ธ.กสิกรไทย</td>
                        <td>บริษัท ไนซ์ลูป จำกัด </td>
                         <td>สะพานนนทบุรี</td>
                        <td>952-2-07522-9</td>
                    </tr>
                    <tr>
                        <td>ธ.ทหารไทย</td>
                        <td>บริษัท ไนซ์ลูป จำกัด </td>
                        <td>สะพานนนทบุรี</td>
                        <td>130-2-23236-6</td>
                    </tr>
                </tbody>
            </table>