@{
    ViewBag.Title = "About";
}

	<section class="page-top">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="index.html">Home</a></li>
									<li class="active">About Us</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h2>About Us</h2>
							</div>
						</div>
					</div>
				</section>

<div class="container">

    <h2 class="word-rotator-title">
        ปฏิวัติรูปแบบใหม่ของ POS ร้านอาหาร <strong>
							 
                                           </strong>
    </h2>

    <div class="row">
        <div class="col-md-9">
            <p class="lead">เราเชื่อว่าร้านอาหารขนาดเล็กที่บริหารงานด้วยระบบคอมพิวเตอร์จะสามารถจัดการร้านได้ดีกว่า รวดเร็วกว่า และทำกำไรได้มากกว่า
            </p> 
            <p class="lead">Niceloop.com ช่วยให้ร้านอาหารของคุณประหยัดเงินในการใช้ระบบคอมพิวเตอร์ และให้คุณรู้ทุกความเคลื่อนไหวในร้านแบบ Real-Time 

                ไม่ว่าจะเป็น ยอดขาย |  ค่าใช้จ่าย |  สต็อกสินค้า |  สินค้าขายดี |  และฟังก์ชั่นอื่นๆอีกมากมาย 
                ซึ่งช่วยให้บริหารจัดการร้าน<strong>ง่ายมาก</strong> ทั้งหมดนี้เริ่มต้นเพียง 390บาท/เดือน

            </p>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <img class="img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/1/13/Facebook_like_thumb.png"/>
        </div>
    </div>

    <hr class="tall">
                    
    <style>
        h3.about-title {
            margin-top: 30px;
            margin-bottom: 10px;
        }
    </style>

    @* Who we are *@
    <div class="row">
        <div class="col-md-8">
            <h3 class="about-title"><strong>How we begin</strong></h3>
            <p>เนื่องจาก Software POS ที่มีอยู่ในท้องตลาดปัจจุบันมีราคา 30000 - 50000 บาท และ ยังไม่รวม Hardware หรือจอ Touch Screen ซึ่งต้องใช้คู่กัน ที่มีราคาสูงมาก ซึ่งทำให้ร้านอาหารเล็กที่เพิ่งเริ่มต้นไม่สามารถลงทุนเริ่มต้นได้ นอกจากนั้นการติดตั้ง Software นั้นจะต้องมีความรู้ด้านคอมพิวเตอร์ในระดับปานกลางถึงขั้นสูงในการติดตั้งและดูแลระบบ ซึ่งค่าใช้จ่ายเหล่านี้สูงมากเมื่อเทียบกับร้านเล็กๆ  ด้วยข้อจำกัดทางการเงินนี้ทางร้านอาหารจึงต้องจดข้อมูลต่างๆด้วยกระดาษ/สมุด และทางเราเห็นว่าเป็นการเสียโอกาสอย่างมากกับร้านค้า SMEs ที่ไม่สามารถใช้ระบบมาจัดการร้านได้ 
                <strong> เราเชื่อว่าร้านอาหารที่บริหารงานด้วยระบบคอมพิวเตอร์จะสามารถจัดการร้านได้ดีกว่า รวดเร็วกว่า และทำกำไรได้มากกว่า</strong>
            </p>
            <h3 class="about-title"><strong>So we start</strong></h3>
            <p>จากปัญหาที่กล่าวมานั้น เราจึงออกแบบผลิตภัณฑ์ ระบบ POS ร้านอาหารรูปแบบใหม่ ในราคาที่จับต้องได้ ( 390 - 890 บาท/เดือน) และสามารถใช้งานกับคอมพิวเตอร์ หรือ Notebook ที่ร้านอาหารมีอยู่แล้วโดยที่ไม่ต้องซื้อใหม่ ไม่ต้องใช้ Touchscreen
                <br/> มากไปกว่านั้นร้านอาหารไม่จำเป็นต้องมีความรู้ด้านคอมพิวเตอร์เลยในการตั้งโปรแกรม เพราะไม่มีโปรแกรมให้ลง เราดูแลระบบให้คุณเอง การใช้งานเพียงแค่เชื่อมต่ออินเตอร์เน็ตก็สามารถใช้งานได้ทันที เจ้าของร้านสามารถดูข้อมูล Real Time ได้ทุกที่ทั่วโลกผ่านมือถือ Android, iPhone เป็นต้น
                <br/> ร้านอาหารที่ใช้ระบบ Niceloop.com ในการเก็บข้อมูลยังทำให้เพิ่มประสิทธิภาพในการบริหารจัดการร้าน เพิ่มความแม่นยำถูกต้อง ลดข้อผิดพลาด ลูกค้าพอใจมากขึ้น
            </p>
            <h3 class="about-title"><strong>In short</strong></h3>
            <p>พูดสั้นๆว่า ร้านอาหาร SMEs สามารถลงทุนและเริ่มใช้งานระบบ Computer เพียง 390 -890 บาทต่อเดือน เพื่มความเป็นมืออาชีพให้กับร้านอาหารของคุณ  <strong>แล้วคุณจะพบว่าระบบของ Niceloop.com ช่วยให้ชีวิตคุณง่ายขึ้น</strong>
        </div>
        <div class="col-md-4">
            <div class="featured-box featured-box-secundary" style="height: auto;">
                <div class="box-content clearfix">
                    <h4>The Missions</h4>
                    @*									<ul class="thumbnail-gallery flickr-feed" data-plugin-options="{&quot;qstrings&quot;: { &quot;id&quot;: &quot;93691989@N03&quot; }}"><li><a href="http://farm9.staticflickr.com/8095/8520378157_733cf2186b_b.jpg"><span class="thumbnail"><img alt="DSCN0314" src="http://farm9.staticflickr.com/8095/8520378157_733cf2186b_s.jpg"></span></a></li><li><a href="http://farm9.staticflickr.com/8099/8520380383_b5a5e1f79c_b.jpg"><span class="thumbnail"><img alt="DSCN0253" src="http://farm9.staticflickr.com/8099/8520380383_b5a5e1f79c_s.jpg"></span></a></li><li><a href="http://farm9.staticflickr.com/8108/8521493740_24fe541b46_b.jpg"><span class="thumbnail"><img alt="DSCN0250" src="http://farm9.staticflickr.com/8108/8521493740_24fe541b46_s.jpg"></span></a></li><li><a href="http://farm9.staticflickr.com/8389/8521494816_61d0449c96_b.jpg"><span class="thumbnail"><img alt="DSCN0378" src="http://farm9.staticflickr.com/8389/8521494816_61d0449c96_s.jpg"></span></a></li><li><a href="http://farm9.staticflickr.com/8372/8520383787_71c576dfb1_b.jpg"><span class="thumbnail"><img alt="DSCN0351" src="http://farm9.staticflickr.com/8372/8520383787_71c576dfb1_s.jpg"></span></a></li><li><a href="http://farm9.staticflickr.com/8385/8521497438_a259902efc_b.jpg"><span class="thumbnail"><img alt="DSCN0345" src="http://farm9.staticflickr.com/8385/8521497438_a259902efc_s.jpg"></span></a></li></ul>

									<hr>
*@
                    <ul class="list icons pull-left list-unstyled">
                        <li><i class="icon icon-check"></i>ต้องการให้ร้านอาหารขนาดเล็กได้ใช้ระบบคอมพิวเตอร์ POS ที่ดีที่สุด ในราคาที่ถูกที่สุด</li>
										 
                    </ul>
                              
                    <br/>
                    <br/><br/> <span style="margin-bottom: 20px">&nbsp;</span>

                </div>

            </div>
            <div style="margin-top: 30px">
                <a href="#" class="btn btn-lg btn-block btn-primary push-top "> <i class="icon icon-envelope-o"></i> ติดต่อเรา </a>

            </div>
        </div>
    </div>

					 
                    

                   

</div>


@section scripts
{
 
     <script>
        
        $(document).ready(function () {
            //set active tab
            var activeTab = 9;
            $('#mainMenu li:eq(' + activeTab + ')').addClass('active');

             
        });
        
     
    </script>
    
    
   
}

