@* TODO link button register , ICONS <I>, iphone 4 slider *@


@* Revolution sliderse *@
@*<div class="slider-container light">
    <div class="slider" id="revolutionSlider">
       @Html.Partial("Home-Partial/HeaderSliders")
    </div>
</div>*@



<section class="featured" style="margin-bottom: 0px">
    <div class="container">

        <div class="row">

            <div class="col-md-6">
                <h2 class="push-top"><strong>Niceloop</strong> ผู้ช่วยร้านอาหาร Online</h2>
                @*<p class="lead">
                    เราเชื่อว่าการบริหารจัดการที่ดีนั้นส่วนหนึ่งมาจากระบบข้อมูล   <strong>Niceloop.com</strong>  ช่วยคุณจัดการด้านข้อมูลการขายต่างๆ ได้ง่าย สะดวกต่อผู้ใช้งาน  
                </p>*@

               @* <p class="lead">
                    Niceloop คือโปรแกรม POS ร้านอาหารบนระบบออนไลน์ ช่วยคุณจัดการด้านข้อมูลการขายต่างๆ ได้ง่าย สะดวกต่อเจ้าของร้านอาหาร
                </p>*@
                
                <p class="lead">
                    Niceloop คือระบบ POS ร้านอาหารออนไลน์ ซึ่งช่วยให้ร้านอาหารขนาดเล็กเพิ่มประสิทธิภาพในการทำงาน และจัดเก็บ<b>ข้อมูลการขาย | รายจ่าย | สต็อก | ระบบรายงาน</b> ได้เทียบเท่ากับร้านอาหารขนาดใหญ่
                </p>

            </div>
            <div class="col-md-6 push-top">

                <iframe src="https://player.vimeo.com/video/137729842" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p><a href="https://vimeo.com/137729842">Niceloop - Introduction (POS)</a> from <a href="https://vimeo.com/user11254447">MrChanutt</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
            </div>

        </div>
        
        
        @* Customer Morrning *@
        <div class="row">

            <div class="col-md-6">
                <h2 class="push-top">User Voices</h2>
                @*<h2 class="push-top">&nbsp;</h2>*@
              
                <p class="lead">
                    เสียงจากร้านอาหารผู้ใช้งานจริง,   คุณอาทเจ้าของร้านMorrrning (ร้านนม-ขนมหวาน)  สรุปผลการใช้งานมาง่ายๆ3ข้อ 
                </p>
                <ol  class="lead">
                    <li>เช็คยอดขายง่าย</li>
                    <li>สั่งอาหารสะดวก</li>
                    <li>ตัดสต็อกในตัว</li>
                </ol>
                

            </div>
            <div class="col-md-6 push-top">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/o4eyuFFoDwo?rel=0" frameborder="0" allowfullscreen></iframe>        
                
                 <p>    คุณอาท,   วุฒิพงศ์ สนองอุทัย  <a target="_blank"  href="https://www.facebook.com/morrrningclub/"> เจ้าของแบรน์ Morrrning </a></p>
            </div>

        </div>
        

    </div>

</section>




@* คำใต้ slider  แถบสีดำ*@
<div class="home-intro">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <p>
                    เพิ่มความเป็นมืออาชีพให้กับร้านคุณ <em>ทดลองใช้ฟรี 15 วัน</em>
                    <span>แล้วคุณจะพบว่าบริหารร้านง่ายขึ้น</span>
                </p>
            </div>
            <div class="col-md-4">
                <div class="get-started">
                    <a href="http://app.niceloop.com/Account/Register" class="btn btn-lg btn-primary">สมัคร | ทดลองใช้งาน</a>
@*                    <div class="learn-more">หรือ <a href="http://demo.niceloop.com/Account/LoginDemo" target="_blank">ทดลอง Demo ก่อนตัดสินใจ</a></div>*@
                </div>
            </div>
        </div>




    </div>
</div>


@* intro wordings *@
@*<div class="container">

    <div class="row center">
        <div class="col-md-12">
            <h2 class="short word-rotator-title"> 
                Niceloop.com ผู้ช่วยร้านอาหารส่วนตัว (POS-Online)
            </h2>
            <p class="featured lead">
                ทำให้คุณรู้ทุกการเคลื่อนไหวภายในร้านคุณตลอดเวลา
            </p>
            <p class="featured lead"><i class="icon icon-plus"></i> เพิ่มประสิทธิภาพ | <i class="icon icon-plus"></i> เป็นมืออาชีพ | <i class="icon icon-thumbs-o-up"></i> ทำให้บริหารจัดการร้านได้ง่ายยิ่งขึ้น</p>
        </div>
    </div>
    
    
    
    <div class="row center">
        <div class="col-md-12">
            <img src="~/img/features/screen-with-device/macpro-side.png" alt="" height="400" width="auto">

        </div>
    </div>
</div>*@

<div class="container">
    <div class="row push-top">

        <div class="col-md-4">
            @*             <img src="~/img/features/screen-with-device/new-iMac.png" alt="" height="auto" width="450">*@
            <img src="~/img/features/screen-with-device/macpro-side.png" alt="" height="400" width="auto">
        </div>

        <div class="col-md-7 col-md-offset-1">
            <h2>ใช้ <strong>Niceloop.com</strong> ทำอะไรได้บ้าง</h2>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="feature-box">
                        
                        <div class="feature-box-icon">
                            <i class="icon icon-cloud"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">การขาย POS หน้าร้าน</h4>
                            <p class="tall">แค่ Login ก็พร้อมใช้งานทันที</p>
                        </div>

                    </div>
                     
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="icon  icon-truck"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">ระบบสต็อก</h4>
                            <p class="tall">ทราบจำนวนสินค้าคงเหลือตลอดเวลา</p>
                        </div>

                        
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                        
                                  <i class="icon icon-lock"></i>
                        </div>
                       
                        
                        <div class="feature-box-info">
                            <h4 class="shorter">กำหนดสิทธิ์การใช้งาน</h4>
                            <p class="tall">สามารถกำหนดการเข้าถึงข้อมูลให้เฉพาะ User ได้</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                     
                    <div class="feature-box">
                        <div class="feature-box-icon">
                      
                             <i class="icon icon-dollar"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">บันทึกค่าใช้จ่าย</h4>
                            <p class="tall">รู้บิลไหนเท่าไร ขายอะไรบ้าง เพียงคลิกเท่านั้น</p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="icon icon-magic"></i>
                        </div>
                          <div class="feature-box-info">
                            <h4 class="shorter">สั่งอาหารผ่านมือถือ</h4>
                            <p class="tall">สั่งอาหารรวดเร็วผ่านมือถือ Android</p>
                        </div>
                        
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                                <i class="icon icon-heart"></i>
                        </div>
                        
                      
                        <div class="feature-box-info">
                            <h4 class="shorter">รายงานในมือคุณ</h4>
                            <p class="tall">ดูยอดขายผ่าน iPhone, iPad, Android ได้ทุกที่ทุกเวลา...</p>
                        </div>
                    </div>
                </div>
            </div>
 
        </div>

    </div>
</div>



@* เส้นแบ่ง เฉยๆ*@
@*<div class="container">

    <div class="row">
        <hr class="tall" />
    </div>

</div>*@

@* Benefit *@
<section class="featured">
    @Html.Partial("Home-Partial/Benefit")
</section>




@* customers success & logo *@
<div style="margin: 80px 0px 0px 0px">
    <div class="row center">
        <div class="col-md-12">
            <h2 class="short word-rotator-title">พิสูจน์แล้วกว่า <strong>300</strong> ร้านอาหารที่ให้เราเป็นผู้ช่วยในการจัดการร้านของคุณ...
            </h2>
@*             <h4 class="lead tall">ขอขอบคุณที่ใว้ใจใช้บริการของเรา และนี่คือหนึ่งจากลูกค้าของเรา</h4>*@
            <h4 class="lead tall">ขอขอบคุณที่ใว้ใจใช้บริการของเรา และนี่คือส่วนหนึ่งในความภูมิใจของเรา</h4>
            <!-- HTML to write -->
          

        </div>
    </div>
    
    @* LOGO SLIDE *@
    <div class="row center">
						<div id="customers-logo" class="owl-carousel owl-theme manual"  >
							
                            <div>
                                <a >
                                    
                                    <img   data-toggle="tooltip" data-placement="right" title="Shabuku 16สาขา"  class="img-responsive" src="~/img/customer-logo/shabuku-2.png" alt="">

                                </a>

                            </div>
                            <div>
                                  <a    >
                                <img  data-toggle="tooltip" data-placement="right" title="Scala Dinner"  class="img-responsive" src="~/img/customer-logo/ScalaDinner.jpg" alt="">
                                  </a> 

                            </div>
                            <div>
                                <a>
                                <img data-toggle="tooltip" data-placement="right" title="3วัน2คืน 4สาขา" class="img-responsive" src="~/img/customer-logo/3วัน2คืน.jpg" alt="">

                                </a>
                            </div>

                            <div>
                                <a>
                            <img  data-toggle="tooltip" data-placement="right" title="Fake Club" class="img-responsive" src="~/img/customer-logo/Fakeclub.jpg" alt="">

                                </a>
                            </div>
                            <div>
                                <a>
                                    
                                </a>
                                <img data-toggle="tooltip" data-placement="right" title="Coco tam" class="img-responsive" src="~/img/customer-logo/cocotam.jpg" alt="">
                            </div>
							<div>
								<img data-toggle="tooltip" data-placement="right" title="เจคิวปูม้านึ่ง" class="img-responsive" src="~/img/customer-logo/jq delivery.jpg" alt="">
							</div>
                           
                            <div>
                                <img data-toggle="tooltip" data-placement="right" title="สภานีบ้านนม" class="img-responsive" src="~/img/customer-logo/สถานนีบ้านนม.jpg" alt="">
                            </div>
                             <div>
								<img data-toggle="tooltip" data-placement="right" title="Amphawa Noodle" class="img-responsive" src="~/img/customer-logo/noddle.jpg" alt="">
							</div>
                           
                            

                            <div>
                                <img data-toggle="tooltip" data-placement="right" title="พุงกางชาบู" class="img-responsive" src="~/img/customer-logo/พุงกางชาบู.jpg" alt="">
                            </div>
                            
                             <div>
                                <img data-toggle="tooltip" data-placement="right" title="Loyshy2" class="img-responsive" src="~/img/customer-logo/loyshy2.jpg" alt="">
                            </div>
                            
                            
                            <div>
                                <img data-toggle="tooltip" data-placement="right" title="Duck Bar" class="img-responsive" src="~/img/customer-logo/duckbar.png" alt="">
                            </div>
                            

                            <div>
                                <img data-toggle="tooltip" data-placement="right" title="Morrrning" class="img-responsive" src="~/img/customer-logo/morrrning.jpg" alt="">
                            </div>
                            
                            <div>
                                <a>
                                <img data-toggle="tooltip" data-placement="right" title="Fflic Cliff" class="img-responsive" src="~/img/customer-logo/ffliccliff.jpg" alt="">

                                </a>
                            </div>

                            

                            
                        </div>
					</div>
    
     
				

</div>




@section scripts
{
    <script src="~/js/views/view.home.js"></script>

    <script>
        $(document).ready(function () {

            //set active tab
            var activeTab = 0;
            $('#mainMenu li:eq(' + activeTab + ')').addClass('active');
            $('[data-toggle="tooltip"]').tooltip();
            $("#customers-logo > div   img").height(100);

            $("#customers-logo").owlCarousel({
                "items": 5,
                "singleItem": false,
                "autoPlay": true,
                "autoHeight" : true
            });
            

        })
    </script>
}
