@* TODO link button register , ICONS <I>, iphone 4 slider *@


@* Revolution sliderse *@
<div class="slider-container light">
    <div class="slider" id="revolutionSlider">
       @Html.Partial("Home-Partial/HeaderSliders")
    </div>
</div>

@* Wording below slider สีขาว *@
@*<div class="home-intro light">
						<div class="container">

							<div class="row">
								<div class="col-md-8">
									<p>
                    เพิ่มความเป็นมืออาชีพให้กับร้านคุณ <em>ทดลองใช้ฟรี 15 วัน</em>
                    <span>แล้วคุณจะพบว่าบริหารร้านง่ายขึ้น</span>
                </p>
								</div>
								<div class="col-md-4">
									<div class="get-started">
  <a href="#" class="btn btn-lg btn-primary">สมัคร ฟรี!</a>
                    <div class="learn-more">หรือ <a href="index.html">ทดลอง Demo ก่อนตัดสินใจ</a></div>									</div>
								</div>
							</div>

						</div>
					</div>*@


@* คำใต้ slider *@
<div class="home-intro">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <p>
                    เพิ่มความเป็นมืออาชีพให้กับร้านคุณ <em>ทดลองใช้ฟรี 15 วัน</em>
                    <span>แล้วคุณจะพบว่าบริหารร้านง่ายขึ้น</span>
                </p>
            </div>
            <div class="col-md-4">
                <div class="get-started">
                    <a href="http://app.niceloop.com/Account/Register" class="btn btn-lg btn-primary">สมัคร ฟรี!</a>
                    <div class="learn-more">หรือ <a href="http://demo.niceloop.com/Account/LoginDemo" target="_blank" >ทดลอง Demo ก่อนตัดสินใจ</a></div>
                </div>
            </div>
        </div>

    </div>
</div>
 

@* intro wordings *@
<div class="container">

    <div class="row center">
        <div class="col-md-12">
            <h2 class="short word-rotator-title"> 
                Niceloop.com ผู้ช่วยร้านอาหารส่วนตัว (POS-Online)
            </h2>
            <p class="featured lead">
               ทำให้คุณรู้ทุกการเคลื่อนไหวภายในร้านคุณตลอดเวลา
            </p>
            <p class="featured lead"><i class="icon icon-plus"></i> เพิ่มประสิทธิภาพ | <i class="icon icon-plus"></i> เป็นมืออาชีพ | <i class="icon icon-thumbs-o-up"></i> ทำให้บริหารจัดการร้านได้ง่ายยิ่งขึ้น</p>
        </div>
    </div>

</div>

@* 1-2-3 steps & benefits *@
<div class="home-concept">
    <div class="container">

        <div class="row center">
            <span class="sun"></span>
            <span class="cloud"></span>
            <div class="col-md-2 col-md-offset-1">
                <div class="process-image" data-appear-animation="bounceIn">
                    <img src="~/img/home-concept-item-1.jpg" alt="" />
                    <strong>สมัคร</strong>
                </div>
            </div>
            <div class="col-md-2">
                <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="200">
                    <img src="~/img/home-concept-item-2.jpg" alt="" />
                    <strong>ใส่ข้อมูล</strong>
                </div>
            </div>
            <div class="col-md-2">
                <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="400">
                    <img src="~/img/home-concept-item-3.jpg" alt="" />
                    <strong>ขาย</strong>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="project-image">
                    <div id="fcSlideshow" class="fc-slideshow">
                        <ul class="fc-slides">
                            <li><a href="portfolio-single-project.html">
                                    <img class="img-responsive" src="~/img/projects/project-home-1.jpg" /></a></li>
                            <li><a href="portfolio-single-project.html">
                                    <img class="img-responsive" src="~/img/projects/project-home-2.jpg" /></a></li>
                            <li><a href="portfolio-single-project.html">
                                    <img class="img-responsive" src="~/img/projects/project-home-3.jpg" /></a></li>
                            <li><a href="portfolio-single-project.html">
                                    <img class="img-responsive" src="~/img/projects/project-home-4.jpg" /></a></li>
                        </ul>

                    </div>
                    <strong class="our-work">รายงานผล</strong>
                </div>
            </div>
        </div>

    </div>
</div>

@* เส้นแบ่ง เฉยๆ*@
<div class="container">

    <div class="row">
        <hr class="tall" />
    </div>

</div>

@* Benefit *@
@Html.Partial("Home-Partial/Benefit")

@* why niceloop.com *@
<section class="featured">
    <div class="container">

        <div class="row">

            <div class="col-md-6">
                <h2 class="push-top">ทำไมต้อง <strong>Niceloop.com</strong></h2>
                <p class="lead">
                    เราเชื่อว่าการบริหารจัดการที่ดีนั้นส่วนหนึ่งมาจากระบบข้อมูล   <strong>Niceloop.com</strong>  ช่วยคุณจัดการด้านข้อมูลการขายต่างๆ ได้ง่าย สะดวกต่อผู้ใช้งาน   </p>

                   <p class="lead">มากไปกว่านั้น เมื่อคุณรู้ข้อมูลการขายแล้ว ยังสามารถทำให้คุณคาดการการขาย/สั่ง/เตรียมอาหารล่วงหน้าได้ถูกต้องแม่นยำ เพิ่มความพึงพอใจของลูกค้า ทั้งหมดนี้สามารถทำได้ในราคาที่ถูกที่สุดอย่างที่ไม่เคยมีมาก่อน</p>            </div>
            <div class="col-md-6 push-top">
                <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen-with-device/niceloop-com-direct.png" data-appear-animation="fadeInRight">
            </div>
        </div>

    </div>
</section>

@* customers success & logo *@
<div style="margin: 80px 0px 0px 0px">
<div class="row center" >
    <div class="col-md-12">
        <h1 class="short word-rotator-title">
            เราดีใจที่ได้เป็นส่วนหนึ่งของความสำเร็จไปกับคุณ..
        </h1>
      @*  <h4 class="lead tall">มากกว่า 300 ร้านอาหารใว้ใจใช้บริการของเรา และนี่คือส่วนหนึ่งของลูกค้าเรา</h4>*@
        <h4 class="lead tall">ขอขอบคุณที่ใว้ใจใช้บริการของเรา และนี่คือเสียงส่วนหนึ่งจากลูกค้าของเรา</h4>
    </div>
</div>
    
  

    </div>

 


@Html.Partial("Home-Partial/CustomersSay")

@*@Html.Partial("Home-Partial/CustomersSay&Blogs")*@


 
@section scripts
{
    <script src="~/js/views/view.home.js"></script>
    
    <script>
        $(document).ready(function () {

            //set active tab
            var activeTab = 0;
            $('#mainMenu li:eq(' + activeTab + ')').addClass('active');

          

        })
    </script>
}
