@Html.Action("Breadcrumb", "Home", new { sectionName = "Term and Conditions" })

<div class="container">
    <div class="row">
        <div class="col-md-12">
           
 
           

            <h4>การสมัครใช้งาน / การใช้งาน</h4>
            <ul>
                <li>ผู้ใช้งานที่จะใช้บริการต้องมีอายุ 18 ปี บริบูรณ์ขึ้นไป
                </li>

                <li>ผู้ใช้งานจะต้องไม่ทำการคัดลอกเนื้อหา, ดัดแปลงแก้ไข หรือนำไปจำหน่ายต่อบุคคลอื่น
                </li>
                

                <li>ผู้ใช้งานจะต้องรับผิดชอบดูแล username และรหัสผ่าน เพื่อความปลอดภัยของระบบ
                </li>
                <li>ผู้ใช้งานยอมรับให้บริษัทฯ สามารถแก้ไขรายการข้อมูลที่ส่งเข้าระบบได้
                </li>
                <li>ผู้ใช้งานจะไม่ทำการหรือพยายามเจาะระบบข้อมูล หรือเขียนรหัสที่เป็นภัยต่อระบบการทำงานของคอมพิวเตอร์
                </li>
                <li>บริษัท ไนซ์ลูป จำกัด ไม่รับประกันว่าระบบ Niceloop.com จะไม่ขาดช่วง, หยุดซ่อมบำรุง, หรือปราศจากข้อผิดพลาด
                </li>
                <li>บริษัทฯ จะไม่รับผิดชอบต่อการสูญหายของข้อมูล ไม่ว่าในกรณีใดๆ ก็ตาม
                </li>
                <li>บริษัทฯ สงวนสิทธิ์ในการลบ Account  ของผู้ใช้งานบางรายที่ทำผิดกฎ หรือละเมิดสิทธิ์ทางปัญญา หรือทำให้เสียชื่อเสียง โดยไม่ต้องแจ้งล่วงหน้าให้ทราบ
                </li>

            </ul>


            <h4>นโยบายความเป็นส่วนตัว</h4>
            <ul>

                <li>Niceloop.com มีการปรับปรุงเนื้อหา, และทำการพัฒนาระบบอย่างต่อเนื่อง โดยทางบริษัทฯ จะมีการเก็บข้อมูล
                IP Address เวลา และสถานที่ในการเข้าใช้งาน รวมถึงข้อมูลอื่นๆ รวมถึงการเก็บข้อมูลผ่านระบบ Google Analytic.</li>
                <li>บริษัทฯ จะมีการใช้ Cookie เพื่อเก็บข้อมูลและแลกเปลี่ยนข้อมูล เพื่อให้สามารถใช้งาน Niceloop.com ได้</li>
                <li>ผู้ใช้งานยอมรับที่จะได้การแจ้งเตือนต่าง ผ่านทางโทรศัพท์, อีเมล์ หรือ sms และทางจดหมาย</li>
                <li>ในการกรณี บริษัทฯได้ทำการส่งข่าวสารถึงผู้ใช้งาน ไม่ว่าจะผ่านช่องทางใดก็ตาม หากไม่ได้รับการตอบกลับจากผู้ใช้งาน หรือ ต่อต่อกลับมาภายใน 5วัน ทางบริษัทจะถือว่าผู้ใช้งานได้รับทราบและยอมรับข่าวสารนั้น</li>




            </ul>

            <h4>การซื้อแพ็คเกจ</h4>
            <ul>
                <li>ผู้ใช้งานที่สมัครใหม่จะได้ทดลองใช้งานฟรี ตามจำนวนวันที่บริษัทฯกำหนดให้ ก่อนการตัดสินใจใช้งานจริง โดยไม่สามารถเพื่มจำนวนวันได้อีก</li>
                <li>การชำระเงินจะเป็นการชำระเงินก่อนใช้งาน และเมื่อผู้ประกอบการชำระเงินตามจำนวนที่ต้องการแล้ว บริษัทฯ จะเพิ่มวันตามจำนวนเงินที่โอนโดยทาง บริษัทฯ จะไม่เปลี่ยนแปลงภายหลังจนกว่าจะหมดอายุ
                </li>
                <li> ผู้ใช้งานที่เคยสมัครแล้วจะไม่ได้รับโปรโมชั่นใหม่ที่ออกมาหลังจากวันที่สมัคร </li>
                 <li> ผู้ใช้งานที่เคยสมัครแล้วจะไม่สามารถสมัครซ้ำได้อีก หรือ ไม่สามารถเปลี่ยนชื่อ username เพื่อรับการทดลองฟรี-โปรโมชั่นอื่นๆ </li>

            </ul>

            <h4>การคืนเงิน/การเปลี่ยนแปลงบริการ</h4>
            <ul>
                <li>บริษัทฯ ไม่มีนโยบายในการคืนเงิน สำหรับค่าแพ็คเก็จที่ไดซื้อไปแล้ว</li>

                <li>อุปกรณ์เสริม หากมีปัญหาจะเปลี่ยนให้ใหม่ภายใน 7 วัน นับจากวันที่ของ/สินค้า ออกจากบริษัทฯ สินค้าที่รับประกันได้แก่ USB, AIRGUARD, จอ Touch Screen, เครื่องพิมพ์ใบเสร็จ, ลิ้นชักเก็บเงิน</li>
                <li>อุปกรณ์เสริม รับประกัน 30 วัน สินค้าที่รับประกันได้แก่ USB, AIRGUARD, จอ Touch Screen, เครื่องพิมพ์ใบเสร็จ, ลิ้นชักเก็บเงิน</li>


                <li>บริษัทฯ ขอสงวนสิทธิ์ในการเปลี่ยนแปลงราคาโดยไม่ต้องแจ้งให้ทราบล่วงหน้า</li>
                <li>ในกรณีเปลี่ยนแปลงค่าบริการ จะมีการแจ้งเตือนให้ผู้ใช้งาน(ลูกค้าเก่า)ทราบล่วงหน้า 30 วันทุกครั้ง และ สำหรับผู้ใช้งานที่ซื้อแพ็คเก็จระยะยาวจะไม่มีผลกระทบกับจำนวนวันที่ได้ซื้อก่อนหน้านี้</li>

            </ul>


      


        </div>

    </div>
</div>

<style>
    body, h1, h2, h3, h4, h5, h6
    {
        color: black !important;
    }

    h4
    {
        margin: 10px 0px 0px 0px;
    }
</style>
