 @Html.Action("Breadcrumb", "Home", new { sectionName = "Help" })

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>วิธีการใช้งาน</h3>
            <iframe src="http://www.slideshare.net/slideshow/embed_code/31003101?rel=0" width="597" height="486" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px 1px 0; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/ricewarit/presentation-niceloopcom" title="Presentation Niceloop.com" target="_blank">Presentation Niceloop.com</a> </strong> from <strong><a href="http://www.slideshare.net/ricewarit" target="_blank">Warit Tantivirasut</a></strong> </div>    
        </div>
</div></div>
 