@*  POS *@
<div class="container">
    <div class="row  more-height">
        <div class="col-md-5">
            <h2 class="push-top">ระบบการขาย <strong>POS</strong></h2>
            <p class="lead">
                การขายทุกรายการจะถูกเก็บสถิติไว้ สามารถวิเคราะห์ดูข้อมูลด้วยกราฟ ทำให้ง่ายต่อการอ่านและเข้าใจแหล่งที่มาของรายได้ว่าจากอาหารชนิดไหน
            </p>

            <p class="tall">
          
                <ul class="list icons pull-left list-unstyled">
                    <li><i class="icon icon-check"></i>แสดงรายการสินค้า และเช็กบิลรวดเร็ว</li>
                    <li><i class="icon icon-check"></i>ใส่ส่วนลด</li>
                    <li><i class="icon icon-check"></i>ดูรายการประวัติการสั่งของโต๊ะนั้นได้</li>
                    <li><i class="icon icon-check"></i>แยกรายการอาหารไปครัว รายการเครื่องดื่มไปที่บาร์น้ำ</li> 
                    <li><i class="icon icon-check"></i>Split Bill แยกรายการจ่าย</li>
                </ul>
            </p>

        </div>
        <div class="col-md-7 ">
            <a class="fancybox" rel="pos" href="~/img/features/screen-with-device/pos-imac-direct.png" title="หน้าการขาย (POS) ถูกออกแบบมาให้ใช้งานง่ายที่สุด">
                <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen-with-device/pos-imac-direct.png" data-appear-animation="fadeInRight">
            </a>

        </div>
    </div>
</div>


@*  mobile order Feature *@
<section class="featured">
    <div class="container">

        <div class="row more-height">
            <div class="col-md-6 push-top">
                
                 
                  <div class="portfolio-item img-thumbnail">
                      <a class="fancybox" rel="tables" href="~/img/features/flow.jpg" title="แผนภาพการทำงานของแต่ละแพคเก็จ">
                          <img height="380px" class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/1390.jpg" data-appear-animation="fadeInRight">
                        
                      </a>
                      <p style="margin: 0px" class="text-center">คลิกเพื่อดู Flowchart</p>   
               </div>

            </div>
            <div class="col-md-6">
                <h2 class="push-top">สั่งผ่านมือถือ <span style="color: gray" class="thinheadline_dark">(Package 1390)</span></h2>
                <p class="lead">
                   เพิ่มความรวดเร็วในการสั่งอาหาร Niceloop รองรับการสั่งอาหารผ่าน มือถือ/แท็ปเลต Android แล้วพิมพ์ Job-Order ตรงไปยังครัวหรือบาร์น้ำได้ทันที
                </p>
                <p class="tall" style="display: block">
                    <div  >
                        <ul  style="display: block" class="list icons pull-left list-unstyled">
                            <li><i class="icon icon-check"></i>แสดงชื่อพนักงานที่สั่ง</li>
                            <li><i class="icon icon-check"></i>สามารถใส่ Comment/ Topping ได้</li>
                            <li><i class="icon icon-check"></i>ดูรายการประวัติการสั่งของโต๊ะนั้นได้</li>
                            <li><i class="icon icon-check"></i>แยกรายการอาหารไปครัว รายการเครื่องดื่มไปที่บาร์น้ำ</li> 
                        </ul>

                    </div>
                   
                </p>
                <div  class="clearfix" style="display: block">
                    
                    <a href="https://play.google.com/store/apps/details?id=com.niceloop.food.order" target="_blank"><img  height="80px" src="http://www.arcadiahotels.net/images/download-button-android-new.png"/></a>
                </div>

            </div>

        </div>
    </div>
</section>



@* Expense *@
<div class="container">
    <div class="row  ">
        <div class="col-md-6">
            
            <h2 class="push-top">รายงาน</h2>
             
             <p class="lead">
                รู้ผลปรกอบการและวิเคราะห์การขายอย่างมืออาชีพ และส่งรายงานขายทุกๆสิ้นเดือนทางอีเมล์อัตโนมัติ
            </p>
            <p class="tall">
                <ul class="list icons pull-left list-unstyled">
                    <li><i class="icon icon-check"></i>รายงานยอดขายรายวัน/รายสัปดาห์/รายเดือน</li>
                    <li><i class="icon icon-check"></i>รายงานสินค้าขายดีตามยอดขาย หรือ จำนวนการขาย</li>
                    <li><i class="icon icon-check"></i>รายงานการขายแต่ละบิล</li>
                    <li><i class="icon icon-check"></i>ค่าใช้จ่าย</li>
                    <li><i class="icon icon-check"></i>สต็อกสินค้า</li>
                </ul>
            </p>

            
             
             
        </div>
        <div class="col-md-6 ">
            <ul class="bxslider">

                <li><a class="fancybox" rel="report" href="~/img/features/screen-with-device/report-direct-column-macbook.png" title="รายงานยอดขาย 14 วันล่าสุด">
                    <img style="position: relative;top:40px"class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen-with-device/report-direct-column-macbook.png" data-appear-animation="fadeInRight">
                </a>
                </li>
                <li>
                    
                    <div class="portfolio-item img-thumbnail">
                    <a class="fancybox thumb-info" rel="report" href="~/img/features/screen-with-device/report-macbook-air-side.jpg" title="วิเคราะห์ยอดขาย 3 เดือนล่าสุด">
                              <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen-with-device/report-macbook-air-side.jpg" data-appear-animation="fadeInRight">
                          </a></div>
                </li>
                <li>
                    <div class="portfolio-item img-thumbnail">
                        <a class="fancybox thumb-info" rel="report" href="~/img/features/screen-with-device/report-ipad-air.jpg" title="ง่ายๆด้วย iPad   และ  พร้อมใช้งานได้ทุกเครื่อง ทุกที่ ไม่ต้องลงโปรแกรม">
                            <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen-with-device/report-ipad-air.jpg" data-appear-animation="fadeInRight">
                        </a></div>
                </li>

            </ul>

        </div>
    </div>
</div>


@*  Stock *@
<section class="featured">
    <div class="container">

        <div class="row more-height">
            <div class="col-md-6 push-top">
                 
                  <div class="portfolio-item img-thumbnail">
                     <a class="fancybox" rel="expense" href="~/img/features/expense.jpg" title="บันทึกค่าใช้จ่ายลงระบบ ทำให้คุณเห็นวิเคราะห์ภาพรวมรายจ่ายได้ง่ายขึ้น">
                        <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/expense.jpg" data-appear-animation="fadeInRight">
                    </a>   
               </div>

            </div>
            <div class="col-md-6">
                
                <h2 class="push-top">บันทึกค่าใช้จ่าย</h2>
            @*            <p class="lead">
ระบบค่าใช้จ่ายทางร้านสามารถบันทึกค่าใช้จ่ายลงในระบบแยกตามหมวดหมู่ เพื่อนำไปวิเคาระห์กำไรขาดทุนตอนสิ้นเดือนได้   ซึ่งทางร้านสามารถสร้างประเภทค่าใช้จ่ายตามโครงสร้างร้านเองได้         </p>*@
            
                <p class="lead">
                    ทางร้านสามารถสร้างประเภทค่าใช้จ่ายตามโครงสร้างร้านเองได้และบันทึกลงตามหมวดหมู่  ซึ่งค่าใช้จ่ายนี้ทางร้านสามารถนำไปวิเคาระห์กำไรขาดทุนตอนสิ้นเดือนได้ 

                </p>

               
            </div>

        </div>
    </div>
</section>

@*  Stock / Inventory *@
<div class="container">
    <div class="row  more-height">
        <div class="col-md-7">
            <h2 class="push-top">สต็อก</h2>
                @* <p class="lead">
                    ด้วยระบบสต็อกสามารถประหยัดเวลาคุณในการเช็กสต็อก ซึ่งสต็อกสามารผูกสูตรการขายได้ และจะทำการตัดยอดทันทีเมื่อมีการขาย
                </p>*@
                <p class="lead">
                    ระบบสต็อกสินค้าสามารผูกสูตรการขายได้ และจะทำการตัดยอดทันทีอัตโนมัติเมื่อมีการขาย
                </p>

                <p class="lead">
                    ทุกๆวันจะมีการส่งรายงานทาง Email ยอดสินค้าคงเหลือ / สินค้าหมด / สินค้าต่ำกว่า Minimum
                </p>
                <p class="tall">
                    <ul class="list icons pull-left list-unstyled">
                        <li><i class="icon icon-check"></i>ตัดสินค้าอัตโนมัติเมื่อมีการขาย</li>
                        <li><i class="icon icon-check"></i>ผูกสูตรการขายได้</li>
                        <li><i class="icon icon-check"></i>แจ้งเตือนยอดคงเหลือทุกวันทาง Email</li>
                     
                    </ul>
                </p>
        </div>
        <div class="col-md-5 ">
            @*<a class="fancybox" rel="pos" href="~/img/features/screen-with-device/pos-imac-direct.png" title="หน้าการขาย (POS) ถูกออกแบบมาให้ใช้งานง่ายที่สุด">
                <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen-with-device/pos-imac-direct.png" data-appear-animation="fadeInRight">
            </a>*@
             <a class="fancybox" rel="stock" href="~/img/features/inventory123.png" title="การจัดการสต็อกเป็นเรื่องยาก แต่ Niceloop ทำให้เป็นเรื่องง่าย">
                <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/inventory123.png" data-appear-animation="fadeInRight">
            </a>
        </div>
    </div>
</div>

 
@* Authorize User *@
<section class="featured">
    <div class="container">

        <div class="row">
            <div class="col-md-6 push-top">
                <div class="portfolio-item img-thumbnail">
                    <a class="fancybox thumb-info" rel="auth" href="~/img/features/screen/authorized-user.png" title="การเข้าถึงข้อมูลรายงานได้เฉพาะผู้จัดการร้าน">
                        <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen/authorized-user.png" data-appear-animation="fadeInRight">
                    </a></div>
            </div>
            <div class="col-md-6">
                <h2 class="push-top">กำหนดสิทธิ์ การเข้าถึงข้อมูล</h2>
                <p class="lead">
                    คุณสามารถสร้าง User Account สำหรับ ผู้จัดการ, พนักงานแคชเชียร์ และกำหนดสิทธิ์การใช้งานได้
                </p>
                <p class="tall">
                     
                    <ul class="list icons pull-left list-unstyled">
                        <li><i class="icon icon-check"></i>พนักงานแคชเชียร์จะไม่สามารถ เพิ่ม/แก้ไข/ลบ ราคาสินค้าได้</li>
                        <li><i class="icon icon-check"></i>ผู้จัดการสามารถลบบิลที่ใส่ข้อมูลผิดได้</li>
                        <li><i class="icon icon-check"></i>ผู้จัดการสามารถดูรายงานได้ แต่แคชเชียร์จะไม่สามารถดูรายงานได้</li>
                    </ul>

                </p>

            </div>

        </div>
    </div>
</section>


