@*  POS *@
<div class="container">
    <div class="row  more-height">
        <div class="col-md-5">
            <h2 class="push-top">การขาย <strong>POS</strong></h2>
            <p class="lead">
                การขายทุกรายการจะถูกเก็บสถิติไว้ สามารถวิเคราะห์ดูข้อมูลด้วยกราฟ ทำให้ง่ายต่อการอ่านและเข้าใจแหล่งที่มาของรายได้ว่าจากอาหารชนิดไหน
            </p>
            <p class="tall">
                หน้าจอ User Interface การขายถูกออกแบบมาให้ใช้งานง่าย สะดวกและรวดเร็วด้วยการคีย์ข้อมูลผ่าน KeyBoard ที่ออกแบบคำสั่งลัดมาเฉพาะ              
            </p>
        </div>
        <div class="col-md-7 ">
            <a class="fancybox" rel="pos" href="~/img/features/screen-with-device/pos-imac-direct.png" title="หน้าการขาย (POS) ถูกออกแบบมาให้ใช้งานง่ายที่สุด">
                <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen-with-device/pos-imac-direct.png" data-appear-animation="fadeInRight">
            </a>

        </div>
    </div>
</div>


@*  Tables Feature *@
<section class="featured">
    <div class="container">

        <div class="row more-height">
            <div class="col-md-6 push-top">
                

                   @* <li><a class="fancybox" rel="gallery2" href="~/img/features/screen-with-device/table-macbook-direct.png" title="xxxx">
                        <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen-with-device/table-macbook-direct.png" data-appear-animation="fadeInRight">
                    </a>
                    </li>*@
                  <div class="portfolio-item img-thumbnail">
                     <a class="fancybox" rel="tables" href="~/img/features/screen-with-device/table-macbook-side.jpg" title="ง่ายต่อการเรียกดูข้อมูลแต่ละโต๊ะ (รองรับได้ 100 โต๊ะ)">
                        <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen-with-device/table-macbook-side.jpg" data-appear-animation="fadeInRight">
                    </a>   
               </div>

            </div>
            <div class="col-md-6">
                <h2 class="push-top">ข้อมูลโต๊ะอาหาร</h2>
                <p class="lead">
                    เพิ่มความสะดวกด้วยการเก็บข้อมูลที่ลูกค้าสั่งลงโต๊ะอาหาร เพื่อรอการเช็คบิลทีหลัง และสามารถรองรับโต๊ะได้สูงสุดถึง 100 โต๊ะ               
                </p>
                <p class="tall">
                       <ul class="list icons pull-left list-unstyled">
                        <li><i class="icon icon-check"></i>แสดงจำนวนลูกค้า</li>
                        <li><i class="icon icon-check"></i>แสดงรายการอาหารที่สั่ง</li>
                        <li><i class="icon icon-check"></i>ค่าบริการ / ส่วนลด / VAT</li>
                        <li><i class="icon icon-check"></i>แก้ไขข้อมูล</li>
                        <li><i class="icon icon-check"></i>ย้ายโต๊ะ</li>
                        <li><i class="icon icon-check"></i>เวลาเข้า - จำนวนเวลาที่ใช้บริการ</li>
                    </ul>
                </p>
            </div>

        </div>
    </div>
</section>



@* Report *@
<div class="container">
    <div class="row  ">
        <div class="col-md-6">
            <h2 class="push-top"><strong>Report</strong> / รายงาน</h2>
            <p class="lead">
                รู้รายละเอียด และ วิเคราะห์การขาย อย่างมืออาชีพ
            </p>
            <p class="tall">
                <ul class="list icons pull-left list-unstyled">
                    <li><i class="icon icon-check"></i>รายงานยอดขายรายวัน/รายสัปดาห์/รายเดือน</li>
                    <li><i class="icon icon-check"></i>รายงานสินค้าขายดีตามยอดขาย หรือ จำนวนการขาย</li>
                    <li><i class="icon icon-check"></i>รายงานการขายแต่ละบิล</li>
                    <li><i class="icon icon-check"></i>เปรียบเที่ยบการขายอาหารแต่ละชนิด</li>
                    <li><i class="icon icon-check"></i>ค่าใช้จ่าย</li>
                    <li><i class="icon icon-check"></i>สต็อกสินค้า</li>
                </ul>
            </p>
        </div>
        <div class="col-md-6 ">
            <ul class="bxslider">

                <li><a class="fancybox" rel="report" href="~/img/features/screen-with-device/report-direct-column-macbook.png" title="รายงานยอดขาย 14 วันล่าสุด">
                    <img style="position: relative;top:40px"class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen-with-device/report-direct-column-macbook.png" data-appear-animation="fadeInRight">
                </a>
                </li>
                <li>
                    
                    <div class="portfolio-item img-thumbnail">
                    <a class="fancybox thumb-info" rel="report" href="~/img/features/screen-with-device/report-macbook-air-side.jpg" title="วิเคราะห์ยอดขาย 3 เดือนล่าสุด">
                              <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen-with-device/report-macbook-air-side.jpg" data-appear-animation="fadeInRight">
                          </a></div>
                </li>
                <li>
                    <div class="portfolio-item img-thumbnail">
                        <a class="fancybox thumb-info" rel="report" href="~/img/features/screen-with-device/report-ipad-air.jpg" title="ง่ายๆด้วย iPad   และ  พร้อมใช้งานได้ทุกเครื่อง ทุกที่ ไม่ต้องลงโปรแกรม">
                            <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen-with-device/report-ipad-air.jpg" data-appear-animation="fadeInRight">
                        </a></div>
                </li>

            </ul>

        </div>
    </div>
</div>


@*  Expense *@
<section class="featured">
    <div class="container">

        <div class="row more-height">
            <div class="col-md-6 push-top">
                 
                  <div class="portfolio-item img-thumbnail">
                     <a class="fancybox" rel="expense" href="~/img/features/expense.jpg" title="บันทึกค่าใช้จ่ายลงระบบ ทำให้คุณเห็นวิเคราะห์ภาพรวมรายจ่ายได้ง่ายขึ้น">
                        <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/expense.jpg" data-appear-animation="fadeInRight">
                    </a>   
               </div>

            </div>
            <div class="col-md-6">
                <h2 class="push-top">บันทึกค่าใช้จ่าย</h2>
                <p class="lead">
                    เพื่อให้รู้กำไรที่แท้จริง การบันทึกค่าใช้จ่ายต่างๆสามารถทำได้ง่ายโดยมีการจัดหมวดหมู่ไว้เพื่อให้ใช้งานสะดวก และยังสามารถสร้างหมวดหมู่ขึ้นเองเพื่อให้เข้ากับโครงสร้างค่าใช้จ่ายของร้านคุณอีกด้วย          
                </p>
              @*  <p class="tall">
                       <ul class="list icons pull-left list-unstyled">
                        <li><i class="icon icon-check"></i>ค่าแรง</li>
                        <li><i class="icon icon-check"></i>ค่าวัตถุดิบอาหาร</li>
                        <li><i class="icon icon-check"></i>ค่าน้ำ/ไฟ</li>
                        <li><i class="icon icon-check"></i>ค่าบริหารจัดการ</li>
                        <li><i class="icon icon-check"></i>ค่าสต็อกสินค้า</li>
                        <li><i class="icon icon-check"></i>อื่นๆ..</li>
                    </ul>
                </p>*@
            </div>

        </div>
    </div>
</section>

@*  Stock / Inventory *@
<div class="container">
    <div class="row  more-height">
        <div class="col-md-7">
            <h2 class="push-top">สต็อก <strong>Inventory</strong></h2>
            <p class="lead">
               เพิ่มความแม่นยำ ลดความผิดพลาด กับการเช็คสต็อก, คุณสามารถรู้ทันทีว่าวันนี้ สินค้านี้คงเหลือกี่ชิ้น/เพิ่มกี่ชิ้น/ขายกี่ชิ้น ทำให้คาดคะเนการสั่งของได้ง่ายและถูกต้อง
            </p>
            <p class="tall">
            </p>
        </div>
        <div class="col-md-5 ">
            @*<a class="fancybox" rel="pos" href="~/img/features/screen-with-device/pos-imac-direct.png" title="หน้าการขาย (POS) ถูกออกแบบมาให้ใช้งานง่ายที่สุด">
                <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen-with-device/pos-imac-direct.png" data-appear-animation="fadeInRight">
            </a>*@
             <a class="fancybox" rel="stock" href="~/img/features/inventory123.png" title="การจัดการสต็อกเป็นเรื่องยาก แต่ Niceloop ทำให้เป็นเรื่องง่าย">
                <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/inventory123.png" data-appear-animation="fadeInRight">
            </a>
        </div>
    </div>
</div>

@* Print Thermal *@
<section class="featured">
    <div class="container">

        <div class="row">
            <div class="col-md-6  ">
                <div class="center-block">
                <a class="fancybox"  style="display: inline-block; "  rel="recipt" href="~/img/features/screen/recipt.png" title="ใบเสร็จขนาด 80 มม ทำให้ร้านดูเป็นมืออาชีพในสายตาลูกค้า">
                    <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen/recipt_resize.png" data-appear-animation="fadeInRight">
                </a>            
                <a class="fancybox"  style="display: inline-block; margin-left: 20px" rel="recipt" href="~/img/features/screen/recipt57mm.png" title="ใบเสร็จขนาด 57 มม (ขนาดเท่า 7-Eleven)">
                    <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen/recipt57mm_resize.png" data-appear-animation="fadeInRight">
                </a> </div>
            </div>

            <div class="col-md-6">
                <h2 class="push-top">พิมพ์ใบเสร็จ</h2>
                <p class="lead">
                    เพิ่มความเป็นมืออาชีพในสายตาลูกค้าด้วยการใช้ <a href="~/Hardware">Thermal Printer</a> แทนการใช้ใบเสร็จจดมือ และ คุณยังสามารถออกแบบใบเสร็จ ให้เข้ากับร้านของคุณเองได้               
                </p>
                <p class="tall">
                    การพิมพ์ใบเสร็จด้วยระบบคอมพิวเตอร์ ไม่เพียงเพิ่มประสิทธิ์ภาพในการทำงานให้ร้านของคุณ แต่ยังช่วยลดความผิดพลาดจากการคำนวณเงิน และเพิ่มความรวดเร็วในการเช็คบิลอีกด้วย                
                </p>
            </div>

        </div>
    </div>
</section>

@* Online-offline *@
<div class="container">
    <div class="row  more-height">
        <div class="col-md-7">
            <h2 class="push-top"><strong>Online - Offline </strong>อย่างไร้รอยต่อ</h2>
            <p class="lead">
                Niceloop.com จะเปลี่ยนเป็น Offline Mode อัตโนมัติ ในกรณีที่ Internet มีปัญหาด้านการเชื่อมต่อ โดยที่คุณยังสามารถใช้งานได้ต่อไป
                <br />
                ดังนั้นมั่นใจได้ว่าทุกข้อมูลการขายจะถูกบันทึกไว้ ไม่ว่าจะ Online หรือ Offline
            </p>

            <p class="tall">
                Offline Mode คือ เมื่อใช้งานการขายแล้วเกิด Internet หลุด คุณยังสามารถใช้งานการขายต่อไปได้  และข้อมูลการขาย(บิล)นั้นๆถูกเก็บไว้ที่เครื่องนั้น เมื่อสามารถต่อ Internet ได้อีกครั้ง ข้อมูลการขายทั้งหมดที่ใช้งานในช่วง Offline จะถูก Sync เข้าระบบ Niceloop Cloud อัตโนมัติ
            </p>
            <p class="tall">* คุณสามารถปิดเครื่องแล้วกลับมา Sync ข้อมูลได้ใหม่ในวันถัดไป (ข้อมูลไม่หายแม้ ปิดเครื่อง) *</p>
        </div>


        <div class="col-md-5  push-top">
            <div class="portfolio-item img-thumbnail">
                <a     >
                       
                    <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen/on-offline.jpg" data-appear-animation="fadeInRight">
                </a> </div>

        </div>
    </div>
</div>

@* SMS/Email *@
<section class="featured">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <a class="fancybox" rel="sms-email" href="~/img/features/screen/iphone-sms.png" title="SMS รายงานยอดขายของวัน ส่งตรงถึงมือคุณ">
                <img class="img-responsive center-block appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen/iphone-sms.png" data-appear-animation="fadeInRight">
 </a>
                @* <ul class="bxslider">

                    <li><a class="fancybox" rel="gallery2" href="~/img/features/screen/email.png" title="xxxx">
                        <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen/email.png" data-appear-animation="fadeInRight">
                    </a>
                    </li>
                    <li>
                        
                        <a class="fancybox" rel="gallery2" href="~/img/features/screen/iphone-sms.png" title="xxx)">
                                  <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen/iphone-sms.png" data-appear-animation="fadeInRight">
                              </a>
                    </li>
                    
                </ul>*@
            </div>
            <div class="col-md-6">
                <h2 class="push-top"  >SMS / E-Mail ยอดขายทุกวัน</h2>
                <p class="lead">
                    จะสะดวกแค่ไหน ถ้าคุณสามารถรู้ผลการขายทั้งวันได้ทันทีที่ปิดร้าน ด้วยระบบ SMS หรือ E-Mail Alert ส่งตรงถึงมือถือคุณทุกวัน ไม่ว่าคุณจะอยู่ที่ไหนก็ตาม                
                </p>
                <p class="tall">
                    Email <br/>
                    ด้วย Email Report ทำให้คุณสะดวกต่อการเห็นตัวเลขการขายภาพรวมของร้านได้ เช่น ยอดขายอาหาร ค่าบริการ ค่าส่วนลด ทีกทั้งยังสามารถเปรียบเทียบยอดกับวันก่อนได้ง่าย
                </p>
                <p class="tall">
                    SMS <br/>
                    ด้วย SMS ทำให้คุณรู้ยอดขายทั้งวันได้อย่างรวดเร็วทันใจ ส่งตรงถึงมือคุณ (ใช้ได้ทุกค่าย ทุกยี่ห้อ)
                </p>
            </div>

        </div>
    </div>
</section>

@* Options VAT Discount Service *@
<div class="container">
    <div class="row  more-height">
        <div class="col-md-6">
            <h2 class="push-top"><strong>Options</strong> <br/>ค่าบริการ, ส่วนลด, ภาษี VAT </h2>
            
            <p class="lead">
                

            </p>
            <p class="tall">
               <ul class="list icons pull-left list-unstyled">
                    <li><i class="icon icon-check"></i>กำหนดเป็นเปอร์เซ็น(%) เช่น  ค่าบริการ 10%, 20%</li>
                   <li><i class="icon icon-check"></i>กำหนดเป็นจำนวนเงิน เช่น  ค่าบริการ 400 บาท</li>
                   <li><i class="icon icon-check"></i>การคิด VAT มีทั้งแบบ Included และ Excluded</li>
                   <li><i class="icon icon-check"></i>สามารถใส่ VAT ได้ถึง 5 อัตรา</li>
                </ul>
            </p>
        </div>
        <div class="col-md-6  push-top">
            <a class="fancybox" rel="options" href="~/img/features/screen/options.jpg" title="ตัวอย่าง ค่าบริการ 10%, ส่วนลด -10%, VAT 7% Included">
                <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen/options.jpg" data-appear-animation="fadeInRight">
            </a>
        </div>
    </div>
</div>

@* Authorize User *@
<section class="featured">
    <div class="container">

        <div class="row">
            <div class="col-md-6 push-top">
                 <div class="portfolio-item img-thumbnail">
                <a class="fancybox thumb-info" rel="auth" href="~/img/features/screen/authorized-user.png" title="การเข้าถึงข้อมูลรายงานได้เฉพาะผู้จัดการร้าน">
                    <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/screen/authorized-user.png" data-appear-animation="fadeInRight">
                </a></div>
            </div>
            <div class="col-md-6">
                <h2 class="push-top">กำหนดสิทธิ์ การเข้าถึงข้อมูล</h2>
                <p class="lead">
                    คุณสามารถสร้าง User Account สำหรับ ผู้จัดการ, พนักงานแคชเชียร์ และกำหนดสิทธิ์การใช้งานได้
                </p>
                <p class="tall">
                    ตังอย่างเช่น 
                   <ul class="list icons pull-left list-unstyled">
                        <li><i class="icon icon-check"></i>พนักงานแคชเชียร์จะไม่สามารถ เพิ่ม/แก้ไข/ลบ ราคาสินค้าได้</li>
                        <li><i class="icon icon-check"></i>ผู้จัดการสามารถลบบิลที่ใส่ข้อมูลผิดได้</li>
                        <li><i class="icon icon-check"></i>ผู้จัดการสามารถดูรายงานได้ แต่แคชเชียร์จะไม่สามารถดูรายงานได้</li>
                    </ul>

                </p>

            </div>

        </div>
    </div>
</section>



