<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 style="text-align: center">ตัวอย่างหน้าจอ  Screenshot </h2>
            <ul id="screenShot">
                @* DashBoard *@
                <li><a class="fancy-thumb" rel="screen" href="~/img/features/screen/dashboard.jpg" title="Dashboard : รายงานข้อมูลวันนี้">
                        <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/thumb/dashboard_resize.jpg" title="Dashboard"  data-appear-animation="fadeInRight">
                    </a>
                </li>

                @* Tables *@
                <li><a class="fancy-thumb" rel="screen" href="~/img/features/screen/table.jpg" title="Tables : บันทึก/แสดง รายการข้อมูลโต๊ะอาหาร">
                        <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/thumb/table_resize.jpg" title="Tables" data-appear-animation="fadeInRight">
                    </a>
                </li>

                @* POS *@
                <li><a class="fancy-thumb" rel="screen" href="~/img/features/screen/pos.jpg" title="Point Of Sales : การขายอาหาร/สินค้า/บริการ">
                        <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/thumb/pos_resize.jpg" title="Point Of Sales" data-appear-animation="fadeInRight">
                    </a>
                </li>
                <li><a class="fancy-thumb" rel="screen" href="~/img/features/screen/pos-2.jpg" title="Point Of Sales 2 ">
                        <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/thumb/pos-2_resize.jpg" title="Point Of Sales " data-appear-animation="fadeInRight">
                    </a>
                </li>
                
                 @* Manager *@
                <li><a class="fancy-thumb" rel="screen" href="~/img/features/screen/manager.jpg" title="Manager : สร้าง/แก้ไข/ลบ รายการอาหาร-ราคา">
                        <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/thumb/report-column_resize.jpg" title="Management" data-appear-animation="fadeInRight">
                    </a>
                </li>

                @* Report *@
                <li><a class="fancy-thumb" rel="screen" href="~/img/features/screen/report-column.jpg" title="Report : รายงานยอดขาย 14 วันล่าสุด">
                        <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/thumb/report-column_resize.jpg" title="Report Last 14 Days" data-appear-animation="fadeInRight">
                    </a>
                </li>
                <li><a class="fancy-thumb" rel="screen" href="~/img/features/screen/report-line-chart.jpg" title="Report  : รายงานยอดขาย 3 เดือนล่าสุด ">
                        <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/thumb/report-line-chart_resize.jpg" title="Report Last 3 Months"  data-appear-animation="fadeInRight">
                    </a>
                </li>
                <li><a class="fancy-thumb" rel="screen" href="~/img/features/screen/report-sales.jpg" title="Report  : รายงานแต่ละบิล">
                        <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/thumb/report-sales_resize.jpg" title="Report Each Bill"  data-appear-animation="fadeInRight">
                    </a>
                </li>
                <li><a class="fancy-thumb" rel="screen" href="~/img/features/screen/report-sales-detail.jpg" title="Report  : รายละเอียดของแต่ละบิล">
                        <img class="img-responsive appear-animation fadeInRight appear-animation-visible" src="~/img/features/thumb/report-sales-detail_resize.jpg" title="Report Bill Detail" data-appear-animation="fadeInRight">
                    </a>
                </li>

    

            </ul>

        </div>

    </div>
</div>
