@{
    ViewBag.Title = "Index";
}
@Html.Action("Breadcrumb", "Home", new { sectionName ="Pricing Tables"})

<div class="container">

    <h2>ราคา <strong>Package</strong></h2>
    

    <div class="jumbotron" style="margin-top:40px">
         
        <h3 style="text-align: center">สมัครวันนี้ได้รับ Package-890 ฟรี 15 วัน </h3>
        
    </div>

    

    <div class="price-head"style="margin: 0px -15px">
        <div style="width: 40%;">&nbsp;</div>
       
        <div style="width: 20%;"><p>฿ 590</p><span>ต่อเดือน</span></div>
        <div style="width: 20%;"><p>฿ 890</p><span>ต่อเดือน</span></div>
         <div style="width: 18%;"><p>฿ 1390</p><span>ต่อเดือน</span></div>
    </div>

    @* Table *@
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td class="features-group-title" 
                        style=" background-color: white !important;color: black;padding-top: 25px;">
                        ความสามารถหลัก
                    </td>
                    <td style="width: 20%; padding-left: 10px;"><a class="register-390 btn btn-lg btn-primary" href="http://app.niceloop.com/Account/Register">สมัคร</a></td>
                    <td style="width: 20%;padding-left: 10px;"><a class="register-590 btn btn-lg btn-primary" href="http://app.niceloop.com/Account/Register">สมัคร</a></td>
                    <td style="width: 20%;padding-left: 10px;"><a class="register-890 btn btn-lg btn-primary" href="http://app.niceloop.com/Account/Register">สมัคร</a></td>
                </tr>
            </thead>
            @* Core *@
            <tbody>
                
                
              @*  <tr>
                    <td>Offline Mode  <i class="icon icon-info-circle"
                                         data-container="body"
                                         data-toggle="popover"
                                         data-trigger="hover"
                                         data-placement="right"
                                         data-content="เมื่อ Internet หลุดคุณยังสามารถใช้งานการขายต่อไปได้ ข้อมูลจะถูกเก็บไว้ และจะ Sync กับCloud เมื่ออินเตอร์เน็ทพร้อมใช้อีกครั้ง "
                                         data-original-title=""
                                         title=""></i>

                    </td>
                    <td></td>
                    <td><i class="icon icon-check"></i></td>
                    <td><i class="icon icon-check"></i></td>
                </tr>*@
                

                <tr class="border">
                    <td>จำนวนรายการอาหาร/สินค้า</td>
                    <td>ไม่จำกัด</td>
                   <td>ไม่จำกัด</td>
                    <td>ไม่จำกัด</td>
                </tr>

                <tr class="border">
                    <td>จำนวนโต๊ะที่รองรับ</td>
                    <td>30 โต๊ะ</td>
                    <td>100 โต๊ะ</td>
                    <td>100 โต๊ะ</td>
                </tr>
                
                <tr class="border">
                    <td>ระบบรายจ่าย</td>
                    <td><i class="icon icon-check"></i></td>
                    <td><i class="icon icon-check"></i></td>  
                    <td><i class="icon icon-check"></i></td>
                </tr>
                
                
                 <tr class="border">
                    <td>ระบบรายงาน</td>
                    <td><i class="icon icon-check"></i></td>
                    <td><i class="icon icon-check"></i></td>  
                    <td><i class="icon icon-check"></i></td>
                </tr>
                
                <tr class="border">
                    <td>การจ่ายเงินแยกจ่าย (Split Bill) </td>
                    <td> </td>
                    <td><i class="icon icon-check"></i></td>  
                    <td><i class="icon icon-check"></i></td>
                </tr>

                <tr class="border">
                    <td>รองรับรายงาน daily report</td>
                    <td>3 email</td>
                    <td>10 email</td>  
                    <td>10 email / 1 SMS</td>
                </tr>
            
                  
                <tr class="border">
                    <td>SMS Report</td>
                    <td> </td>
                    <td> 1 SMS</td>  
                    <td> 1 SMS</td>
                </tr>


                <tr class="border">
                    <td>กำหนดประเภทรายรับ  
                        <i class="icon icon-info-circle"
                                              data-container="body"
                                              data-toggle="popover"
                                              data-trigger="hover"
                                              data-placement="right"
                                              data-content="ทางร้านสามารถกำหนดประเภทรายรับของแต่ละบิลได้เพื่อนำไปวิเคาระห์ยอดขาย เช่น Cash, VISA, Master Card, AIS Coupon"
                                              data-original-title=""
                                              title=""></i>

                    </td>
                    <td> </td>
                    <td><i class="icon icon-check"></i></td>
                    <td><i class="icon icon-check"></i></td>
                </tr>



                <tr class="border">
                    <td>ระบบสต็อกสินค้า (Inventory)
                        <i class="icon icon-info-circle"
                           data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="right"
                           data-content="ระบบสต็อกสามารถผูกสูตร และตัดสูตรอาหารอัตโนมัติได้ เมื่อมีการทำการขาย"
                           data-original-title=""
                           title=""></i>

                    </td>
                    <td></td>
                    <td><i class="icon icon-check"></i></td>
                    <td><i class="icon icon-check"></i></td>
                </tr>
                
            
                 

                <tr>
                    <td colspan="4" class="features-group-title">Manage User Account</td>
                    
                </tr>
                

                <tr class="border">
                    <td>จำนวน User Account
                        <i class="icon icon-info-circle"
                           data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="right"
                           data-content="User Account ใช้สำหรับล็อกอินเข้าระบบเพื่อเริ่มต้นการใช้งาน เช่น Account ของ Owner, Manager, พนังงานขาย"
                           data-original-title=""
                           title=""></i>

                    </td>
                    <td>3 Accounts</td>
                    <td>5 Accounts</td>
                    <td>5 Accounts</td>
                </tr>
                
                
                <tr class="border">
                    <td>กำหนดสิทธิ์ user account การเข้าถึง Feature
                        <i class="icon icon-info-circle"
                           data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="right"
                           data-content="การกำหนดสิทธิ์ของ Account แต่ละอันจะเข้าได้ตามที่ ถูกกำหนดไว้เท่านั้น เช่น account พนังานขายจะไม่สามารถเข้าไปหน้ารายงานต่างๆได้"
                           data-original-title=""
                           title=""></i>

                    </td>
                    <td> </td>
                    <td><i class="icon icon-check"></i></td>
                    <td><i class="icon icon-check"></i></td>
                </tr>
                

                <tr class="border">
                    <td>สร้าง Employee PIN กำหนดสิทธิ์หน้าการขาย POS
                        <i class="icon icon-info-circle"
                           data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="right"
                           data-content="Employee PIN ใช้สำหรับระบุตัวตนผนักงาน และบอกสิทธิ์ในการใช้งานการขาย เช่น PIN : '1234' แคชเชียร์โอ็ต สามารถลดราคาได้ แต่ไม่สามารถ Void สินค้าได้ต้องให้ ผจก.มาทำการ VOID โดยใส่ PIN ที่ได้รับสิทธิ์การ VOID"
                           data-original-title=""
                           title=""></i>

                    </td>
                    <td> </td>
                    <td>20 PIN</td>
                    <td>ไม่จำกัด PIN</td>
                </tr>
                
                
                <tr>
                    <td colspan="4" class="features-group-title">Process / Workflow</td>
                    
                </tr>
                
                
                
                
            
                <tr class="border">
                    <td>จุดแคชเชียร์</td>
                    <td colspan="2" >1จุด</td>
                    
                    <td>1จุด (สามารถเพิ่มจุดได้)</td>
                </tr>

                <tr class="border">
                    <td>Print Job Order
                        <i class="icon icon-info-circle"
                           data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="right"
                           data-content="Job Order คือใบแจ้งว่าลูกค้าสั่งอะไรเพื่อให้พ่อครัวทำอาหารนั้น"
                           data-original-title=""
                           title=""></i>

                    </td>
                    <td colspan="2" >(ไม่รองรับพิมพ์ใบ Job order)</td>
                   
                    <td>รองรับ 3 Printer</td>
                </tr>

                <tr class="border">
                    <td>สั่งอาหารผ่านมือถือ / Tablet  <i class=" icon icon-android "></i></td>
                    <td colspan="2" ></td>
                  
                    <td>5 มือถือ</td>
                </tr>

                   <tr class="border">
                    <td>สั่งอาหารทาง PC (Terminal)  <i class=" icon icon-desktop "></i></td>
                    <td colspan="2" ></td>
                    
                    <td>5 เครื่อง</td>
                </tr>
                 
                
                <tr class="border">
                    <td  >ขั้นตอนการสั่งอาหาร
                        <br/>
                        <a  style="padding-left: 30px"  class="fancybox" href="~/img/features/flow.jpg" title="แผนภาพ Flowchart พร้อมคำอธิบาย" class="fancybox" >(คลิกเพื่อดูแผนภาพ)
                              
                        </a>
                            <br/>
                         <a style="padding-left: 30px"  class="fancybox" href="~/img/features/hardware_assembly_full.jpg" title="การต่อแผนภาพอุปกรณ์ Hardware" class="fancybox" >(คลิกเพื่อดูการต่ออุปกรณ์)
                              
                        </a>
                    </td>
                    
                    <td colspan="2"  >
                        
                        <div class=""  style="margin-left: auto;margin-right: auto">
                                 <ol style="text-align: left; padding-left: 30px">
                            <li>จดรายการ 2-copy</li>
                            <li>นำ 1-copy ให้ครัว </li>
                            <li>นำ 1-copy ให้แคชเชียร์ </li>
                            <li>แคชเชียร์บันทึกรายการลงโต๊ะ</li>
                            <li>รอเช็กบิล</li>
                        </ol>
                        </div>
                   
                    </td>
                    
                    <td  >
                        <ol style="text-align: left; padding-left: 30px">
                            <li>ส่งรายการผ่านมือถือ</li>
                            <li>แคชเชียร์รับข้อมูล (อัตโนมัติ)</li>
                            <li>พิมพ์ JobOrder ที่ครัว (อัตโนมัติ)</li>
                            
                            <li>รอเช็กบิล</li>
                        </ol>
                    </td>
                    
                </tr>


            </tbody>
        </table>
    </div>
    
@*
    <div class="price-head"style="margin: 0px -15px">
        <div style="width: 40%;">&nbsp;</div>
        <div style="width: 20%;"><p>฿ 590</p><span>ต่อเดือน</span><div class="centered"><a class="register-390 btn btn-lg btn-primary" href="http://app.niceloop.com/Account/Register">สมัคร</a></div></div>
        <div style="width: 20%;"><p>฿ 890</p><span>ต่อเดือน</span><div class="centered"><a class="register-590 btn btn-lg btn-primary" href="http://app.niceloop.com/Account/Register">สมัคร</a></div></div>
        <div style="width: 18%;"><p>฿ 1390</p><span>ต่อเดือน</span><div class="centered"><a class="register-890 btn btn-lg btn-primary" href="http://app.niceloop.com/Account/Register">สมัคร</a></div></div>
    </div>*@
     
    
    <div class="jumbotron" style="margin-top:40px">
         
        <h3 style="text-align: center">ไม่แน่ใจ Package ไหนเหมาะกับร้านคุณ ?</h3>
        <h3 style="text-align: center">โทรเลย <i class="icon icon-phone"></i> 081-846-0621</h3>
    </div>

</div>

<hr/>

<div class="container">
    <div class="row faq-niceloop">
        <div class="col-md-9">
            @Html.Partial("Faq-Partial/GeneralQuestion")
        </div>
        <div class="col-md-3">
            
        </div>
    </div>
</div>

 @Html.Partial("Faq-Partial/ReadMoreFaq")

@section scripts
{
     <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.fancybox.js"></script>

    <script>

       
        
        $(document).ready(function () {

            //set active tab
            var activeTab = 2;
            $('#mainMenu li:eq(' + activeTab + ')').addClass('active');

            $('i').popover();
             
            // set icons
            $('p.question').prepend('<i class="icon icon-question"></i> ');
            $('p.answer').prepend('<i class="icon icon-comment-o"></i> ');

            $('span.myFaq').popover();


            $(".fancybox").fancybox({
                openEffect: 'none',
                closeEffect: 'none'
            });

            $(".fancy-thumb").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                helpers: {
                    title: {
                        type: 'inside'
                    },
                    thumbs: {
                        width: 50,
                        height: 50
                    }
                }
            });


        })
    </script>
}


<style>
    
    table tr.border td {
        border : 1px solid #dddddd
    }
</style>